extend /_template/en/_default
append variables
  //- 変更可能
  - var pageTitle= "English Home Page";
  - var pageDescription= 'English Home Page Description';
  - var pageKeywords= 'English Home Page Keyword1, English Home Page Keyword2';
  //- 任意
  - var pageOgpTitle= pageTitle;
  - var pageOgpImage= en.site.ogpImage;
  - var pageOgpType= "website";

block content
  main#main
