@mixin sw-FormRadio() {
  /* デフォルトのラジオボタンを非表示にする。 */
  @include sr-only();

  & + label {
    display: inline-block;
    position: relative;
    padding-left: 1.25em;
    cursor: pointer;
  }

  & + label:before {
  $size: 1em;;
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: $size;
  height: $size;
  margin: auto;
  border: $form-border;
  border-radius: 50%;
  vertical-align: text-bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

  &:focus + label:before {
    border-color: $form-focus-border-color;
    border-radius: 50%;
    box-shadow: $form-focus-box-shadow;
  }

  &:checked + label:before {
    border: 0;
    background-image: url("/assets/img/SiteWide/Icon/FormRadio_on.svg");
  }

  &:disabled,
  & + label[disabled] {
    cursor: $form-disabled-cursor;
    opacity: $form-disabled-opacity;
  }
}
