 /* #Iconfont
   -------------------------------------------------------------------------- */
/*doc
---
name: Icon List
category: IconList
tag: Icon
---

現在作成されているアイコンフォントの一覧です。


<ul class="aigis-iconfont__items"><% _.each(glyphs, function(glyph) { %>
  <li class="aigis-iconfont__item">
    <div class="aigis-iconfont__inner">
      <span class="aigis-iconfont__icon <%= className %> <%= className %>-<%= glyph.name %>"></span>
      <code class="aigis-iconfont__name">.<%= className %>.<%= className %>-<%= glyph.name %></code>
    </div>
  </li><% }); %>
</ul>
*/
