<!DOCTYPE html>
<html class="no-js" lang="ja">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <!--#include virtual="/ssi/meta.html" -->
    <title>サイト名</title>
    <meta name="description" content="サイトの概要">
    <meta name="keywords" content="サイトのキーワード1, サイトのキーワード2">
    <link rel="canonical" href="https://example.com/">
    <meta property="og:title" content="サイト名">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://example.com/ogp.jpg">
    <meta property="og:url" content="https://example.com/">
    <meta property="og:description" content="サイトの概要">
    <meta property="og:site_name" content="サイト名">
    <meta property="og:locale" content="ja">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@SiteAccount">
  </head>
  <body>
    <!--#include virtual="/ssi/ja/header.html" -->

    <main id="main">

    </main>

    <!--#include virtual="/ssi/ja/footer.html" -->

    <!--#include virtual="/ssi/script.html" -->
  </body>
</html>
