.l-Block {
  @include l-Block();
}

.l-Block.-divider {
  margin: $block-divider-margin;

  @include mq(md) {
    margin: $block-divider-margin-md;
  }

  & + &::before {
    content: "";
    display: block;
    width: 100%;
    height: rem(1);
    padding: $block-divider-margin;
    border-top: rem(1) solid #e3e3e3;

    @include mq(md) {
      padding: $block-divider-margin-md;
    }
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
