.l-Container {
  padding: $conitaner-padding;

  @include mq(md) {
    padding: $conitaner-padding-md;
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
