.l-ContainerBg {
  padding: $conitaner-bg-padding;
  background-color: #f6f8f9;

  @include mq(md) {
    padding: $conitaner-bg-padding-md;
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.l-ContainerBg.-delimiter {
  border-top: rem(1) solid #e8e8e8;
}
