/*
---
name: l-Grid
namespace: Layout
category: Layout
---

標準的なグリッドシステムです。カラムごとに任意の値を指定したい場合に使います。
カラム間の余白は幅を`$l-grid-column-gap`で統一しています。

以下のような指定ができます。

- `.l-Grid_Item-8of12` カラム数の指定。
- `.l-Grid-reverse` カラムの反転。
- `.l-Grid-center` カラムのセンタリング。
- `.l-Grid-middle` カラムの垂直配置。

```jade
.l-Wrapper
  .l-Grid
    .l-Grid_Item.l-Grid_Item-8of12Md
      .test-Box One<br>1/1 → 8/12
    .l-Grid_Item.l-Grid_Item-4of12Md
      .test-Box Two<br>1/1 → 4/12
```

```jade
.l-Wrapper
  .l-Grid.l-Grid-reversMd
    .l-Grid_Item.l-Grid_Item-8of12Md
      .test-Box One<br>1/1 → 8/12
    .l-Grid_Item.l-Grid_Item-4of12Md
      .test-Box Two<br>1/1 → 4/12
```

```jade
.l-Wrapper
  .l-Grid.l-Grid-centerMd
    .l-Grid_Item.l-Grid_Item-8of12Md
      .test-Box One<br>1/1 → 8/12
```
*/
// `em`と`%`は指定不可
$l-grid-column-gap: $grid-column-gap;
$l-grid-column-gap-md: $grid-column-gap-md;

.l-Grid {
  margin-left: -$l-grid-column-gap;
  padding-left: 0;
  list-style-type: none;
  display: block;
  font-size: 0;

  @include mq-up(md) {
    margin-left: -$l-grid-column-gap-md;
  }
}

.l-Grid_Item {
  display: inline-block;
  width: 100%;
  padding-left: $l-grid-column-gap;
  font-size: medium;
  font-size: 1rem;
  vertical-align: top;

  @include mq-up(md) {
    padding-left: $l-grid-column-gap-md;
  }
}

.l-Grid_Item {
  &-1of12 { width: percentage(1 / 12)};
  &-2of12 { width: percentage(2 / 12)};
  &-3of12 { width: percentage(3 / 12)};
  &-4of12 { width: percentage(4 / 12)};
  &-5of12 { width: percentage(5 / 12)};
  &-6of12 { width: percentage(6 / 12)};
  &-7of12 { width: percentage(7 / 12)};
  &-8of12 { width: percentage(8 / 12)};
  &-9of12 { width: percentage(9 / 12)};
  &-10of12 { width: percentage(10 / 12)};
  &-11of12 { width: percentage(11 / 12)};
  &-12of12 { width: percentage(12 / 12)};
}

@include mq-up(md) {
  .l-Grid_Item {
    &-1of12Md { width: percentage(1 / 12)};
    &-2of12Md { width: percentage(2 / 12)};
    &-3of12Md { width: percentage(3 / 12)};
    &-4of12Md { width: percentage(4 / 12)};
    &-5of12Md { width: percentage(5 / 12)};
    &-6of12Md { width: percentage(6 / 12)};
    &-7of12Md { width: percentage(7 / 12)};
    &-8of12Md { width: percentage(8 / 12)};
    &-9of12Md { width: percentage(9 / 12)};
    &-10of12Md { width: percentage(10 / 12)};
    &-11of12Md { width: percentage(11 / 12)};
    &-12of12Md { width: percentage(12 / 12)};
  }
}

@include mq-up(lg) {
  .l-Grid_Item {
    &-1of12Lg { width: percentage(1 / 12)};
    &-2of12Lg { width: percentage(2 / 12)};
    &-3of12Lg { width: percentage(3 / 12)};
    &-4of12Lg { width: percentage(4 / 12)};
    &-5of12Lg { width: percentage(5 / 12)};
    &-6of12Lg { width: percentage(6 / 12)};
    &-7of12Lg { width: percentage(7 / 12)};
    &-8of12Lg { width: percentage(8 / 12)};
    &-9of12Lg { width: percentage(9 / 12)};
    &-10of12Lg { width: percentage(10 / 12)};
    &-11of12Lg { width: percentage(11 / 12)};
    &-12of12Lg { width: percentage(12 / 12)};
  }
}

@include mq-up(xl) {
  .l-Grid_Item {
    &-1of12Xl { width: percentage(1 / 12)};
    &-2of12Xl { width: percentage(2 / 12)};
    &-3of12Xl { width: percentage(3 / 12)};
    &-4of12Xl { width: percentage(4 / 12)};
    &-5of12Xl { width: percentage(5 / 12)};
    &-6of12Xl { width: percentage(6 / 12)};
    &-7of12Xl { width: percentage(7 / 12)};
    &-8of12Xl { width: percentage(8 / 12)};
    &-9of12Xl { width: percentage(9 / 12)};
    &-10of12Xl { width: percentage(10 / 12)};
    &-11of12Xl { width: percentage(11 / 12)};
    &-12of12Xl { width: percentage(12 / 12)};
  }
}

/**
 * 要素の垂直位置を真ん中寄せ。
 */
.l-Grid-middle > .l-Grid_Item {
  vertical-align: middle;
}
@include mq-up(md) {
  .l-Grid-middleMd > .l-Grid_Item {
    vertical-align: middle;
  }
}
@include mq-up(lg) {
  .l-Grid-middleLg > .l-Grid_Item {
    vertical-align: middle;
  }
}
@include mq-up(xl) {
  .l-Grid-middleXl > .l-Grid_Item {
    vertical-align: middle;
  }
}

/**
 * 要素の垂直位置を下寄せ。
 */
.l-Grid--bottom > .l-Grid_Item {
  vertical-align: bottom;
}
@include mq-up(md) {
  .l-Grid-bottomMd > .l-Grid_Item {
    vertical-align: bottom;
  }
}
@include mq-up(lg) {
  .l-Grid-bottomLg > .l-Grid_Item {
    vertical-align: bottom;
  }
}
@include mq-up(xl) {
  .l-Grid-bottomXl > .l-Grid_Item {
    vertical-align: bottom;
  }
}

/**
 * 要素を中央寄せ、要素内は左寄せ。
 */
.l-Grid-center {
  text-align: center;

  & > .l-Grid_Item {
    text-align: left;
  }
}
@include mq-up(md) {
  .l-Grid-centerMd {
    text-align: center;

    & > .l-Grid_Item {
      text-align: left;
    }
  }
}
@include mq-up(lg) {
  .l-Grid-centerLg {
    text-align: center;

    & > .l-Grid_Item {
      text-align: left;
    }
  }
}
@include mq-up(xl) {
  .l-Grid-centerXl {
    text-align: center;

    & > .l-Grid_Item {
      text-align: left;
    }
  }
}

/**
 * 要素を右寄せ、要素内は左寄せ。
 */
.l-Grid-right {
  text-align: right;

  & > .l-Grid_Item {
    text-align: left;
  }
}
@include mq-up(md) {
  .l-Grid-rightMd {
    text-align: right;

    & > .l-Grid_Item {
      text-align: left;
    }
  }
}
@include mq-up(lg) {
  .l-Grid-rightLg {
    text-align: right;

    & > .l-Grid_Item {
      text-align: left;
    }
  }
}
@include mq-up(xl) {
  .l-Grid-rightXl {
    text-align: right;

    & > .l-Grid_Item {
      text-align: left;
    }
  }
}

/**
 * 要素の反転。
 */
.l-Grid-reverse {
  text-align: left;
  direction: rtl;

  & > .l-Grid_Item {
    text-align: left;
    direction: ltr;
  }
}
@include mq-up(md) {
  .l-Grid-reversMd {
    text-align: left;
    direction: rtl;

    & > .l-Grid_Item {
      text-align: left;
      direction: ltr;
    }
  }
}
@include mq-up(lg) {
  .l-Grid-reverseLg {
    text-align: left;
    direction: rtl;

    & > .l-Grid_Item {
      text-align: left;
      direction: ltr;
    }
  }
}
@include mq-up(xl) {
  .l-Grid-reverseXl {
    text-align: left;
    direction: rtl;

    & > .l-Grid_Item {
      text-align: left;
      direction: ltr;
    }
  }
}
