.l-Section2 {
  margin: $section2-margin;

  @include mq(md) {
    margin: $section2-margin-md;
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.l-Section2.-divider {
  margin: $section2-divider-margin;

  @include mq(md) {
    margin: $section2-divider-margin-md;
  }

  & + &::before {
    content: "";
    display: block;
    width: 100%;
    height: em(1);
    padding: $section2-divider-margin;
    border-top: em(1) solid #e3e3e3;

    @include mq(md) {
      padding-top: $section2-divider-margin-md;
    }
  }
}

.l-Section2.-dividerFull {
  margin: $section2-divider-margin;

  @include mq(md) {
    margin: $section2-divider-margin-md;
  }

  & + &::before {
    @include full-width();

    content: "";
    display: block;
    height: rem(1);
    padding: $section2-divider-margin;
    border-top: rem(1) solid #e3e3e3;

    @include mq(md) {
      padding: $section2-divider-margin-md;
    }
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
