.l-Section3 {
  margin: $section3-margin;

  @include mq(md) {
    margin: $section3-margin-md;
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.l-Section3.-divider {
  margin: $section3-divider-margin;

  @include mq(md) {
    margin: $section3-divider-margin-md;
  }

  & + &::before {
    content: "";
    display: block;
    width: 100%;
    height: rem(1);
    padding: $section3-divider-margin;
    border-top: rem(1) solid #e3e3e3;

    @include mq(md) {
      padding: $section3-divider-margin-md;
    }
  }

  .st-Heading2 + &::before {
    display: none;

    @include mq(md) {
      display: none;
    }
  }
}
