/*
---
name: l-Wrapper
namespace: l-
category: Layout
---

コンテンツの横幅を制限します。

```jade
.l-Wrapper
  section.l-Section2
    h2.sw-Heading2 吾輩はここで始めて人間というものを見た。
    p.sw-Text しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。
```
*/
.l-Wrapper {
  $width: $global-max-width + 40px;
  max-width: $global-max-width;
  margin-right: auto;
  margin-left: auto;
  padding: 0 rem(20);

  @media print, screen and (min-width: $width) {
    padding: 0;
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

/*
---
name: l-Wrapper_Full
namespace: l-
category: Layout
---

`.l-Wrapper_Full`を入れ子にすると、`.l-Wrapper`の中でも画面いっぱいに表示されます。

```jade
.l-Wrapper
  .l-Wrapper_Full
    section.l-Section2
      h2.sw-Heading2 吾輩はここで始めて人間というものを見た。
      p.sw-Text しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。
```
*/
.l-Wrapper_Full {
  @include full-width();

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

/*
---
name: l-Wrapper_FullBg
namespace: l-
category: Layout
---

`.l-Wrapper_FullBg`を入れ子にすると、`.l-Wrapper`の中でも背景色が画面いっぱいに表示されます。

```jade
.l-Wrapper
  .l-Wrapper_FullBg(style="background-color: #eee;")
    section.l-Section2
      h2.sw-Heading2 吾輩はここで始めて人間というものを見た。
      p.sw-Text しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。
```
*/
.l-Wrapper_FullBg {
  @include full-bg();

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
