.l-Wrapper {
  $width: $global-max-width + 40px;

  max-width: $global-max-width;
  margin-right: auto;
  margin-left: auto;
  padding: 0 rem(20);

  @media print, screen and (min-width: $width) {
    padding: 0;
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.l-Wrapper_Full {
  @include full-width();

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.l-Wrapper_FullBg {
  @include full-bg();

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
