block js
  script(src='//code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
  script window.jQuery || document.write('<script src="/assets/js/jquery.min.js"><\/script>')
  script(src='//code.jquery.com/jquery-migrate-3.0.0.min.js', integrity='sha256-JklDYODbg0X+8sPiKkcFURb5z7RvlNMIaE3RA2z97vw=', crossorigin='anonymous')
  script window.jQuery || document.write('<script src="/assets/js/jquery-migrate.min.js"><\/script>')
  script(src="/assets/js/lib.js")
  script(src="/assets/js/site.js")
