@mixin sw-Button() {
  display: inline-block;
  margin: 0;
  padding: 0.75em 2em;
  border: none;
  border: 1px solid #d0d0d0;
  border-radius: $form-border-radius;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background: transparent;
  background-color: #fff;
  appearance: none;
  cursor: pointer;

  &[type=button],
  &[type=reset],
  &[type=submit] {
    appearance: none;
  }

  @include on-event() {
    text-decoration: none;
  }

  &:focus {
   outline-width: 0;
   box-shadow: $form-box-shadow-focus;
  }

  &:focus:not(.focus-visible) {
    outline-width: 0;
    box-shadow: none;
  }

  &:disabled,
  &-disabled {
    opacity: $form-opacity-disabled;
    border-color: $form-background-color-disabled;
    background-color: $form-background-color-disabled;
    cursor: $form-cursor-disabled;
  }
  &-disabled {
    pointer-events: none;
  }
}
