@mixin sw-Button() {
  position: relative;
  display: inline-block;
  width: 280px;
  max-width: 100%;
  margin: 0;
  padding: rem(12) rem(32);
  border: none;
  border: 1px solid #d0d0d0;
  border-radius: $form-border-radius;
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background: transparent;
  background-color: #fff;
  appearance: none;
  cursor: pointer;
  transition-duration: $global-transition-duration;
  transition-timing-function: $global-transition-timing-function;

  &[type=button],
  &[type=reset],
  &[type=submit] {
    appearance: none;
  }

  @include on-event() {
    text-decoration: none;
  }

  [data-whatinput="keyboard"] &:focus {
   outline-width: 0;
   box-shadow: $form-box-shadow-focus;
  }

  [data-whatinput="mouse"] &:focus,
  [data-whatinput="touch"] &:focus {
    outline-width: 0;
    box-shadow: none;
  }

  &:disabled,
  &-disabled {
    opacity: $form-opacity-disabled;
    border-color: $form-background-color-disabled;
    background-color: $form-background-color-disabled;
    cursor: $form-cursor-disabled;
  }
  &-disabled {
    pointer-events: none;
  }
}
