@mixin sw-FormCheckbox() {
  $line-height: 1.4;
  /* デフォルトのチェックボックスを非表示にする。 */
  @include sr-only();

  & + label {
    display: table;
    font-size: 1rem;
    line-height: $line-height;
    cursor: pointer;
  }

  & + label > svg {
    display: table-cell;
    vertical-align: top;
    width: 1em;
    height: 1em;
    margin: calc((#{$line-height} - 1) * 0.5em) em(4) 0 0;
    font-size: 1em;
    fill: #fff;
    border: $form-border;
    border-radius: rem(3);
  }

  & + label > span {
    display: table-cell;
    vertical-align: top;
    width: calc(100% - 1em - 4px);
  }

  &:focus + label > svg {
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
  }

  &:focus:not(.focus-visible) + label > svg {
    border-color: $form-boder-color;
    box-shadow: none;
  }

  &:checked + label > svg,
  &:checked:not(.focus-visible) + label > svg {
    fill: #fff;
    border-color: #1e87f0;
    background-color: #1e87f0;

    @media screen and (-ms-high-contrast: active), print {
      fill: #000;
      border: 1px solid #000;
    }
  }

  &-error + label > svg {
    fill: #ffecec;
    background-color: #ffecec;
  }

  &:disabled + label {
    cursor: $form-cursor-disabled;
    opacity: $form-opacity-disabled;
  }
}
