@mixin sw-FormRadio() {
  $line-height: 1.4;

  /* デフォルトのラジオボタンを非表示にする。 */
  @include sr-only();

  & + label {
    display: table;
    font-size: 1rem;
    line-height: $line-height;
    cursor: pointer;
  }

  & + label > svg {
    @include svgstore();

    display: table-cell;
    vertical-align: top;
    margin: calc((#{$line-height} - 1) * 0.5em) em(4) 0 0;
    font-size: 1em;
    border: $form-border;
    border-radius: 50%;
    fill: #fff;
  }

  & + label > span {
    display: table-cell;
    vertical-align: top;
    width: calc(100% - 1em - 4px);
  }

  [data-whatintent="keyboard"] &:focus + label > svg {
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
  }

  [data-whatintent="mouse"] &:focus + label > svg,
  [data-whatintent="touch"] &:focus + label > svg {
    border-color: $form-boder-color;
    box-shadow: none;
  }

  &:checked + label > svg,
  [data-whatintent="mouse"] &:checked + label > svg,
  [data-whatintent="touch"] &:checked + label > svg {
    border-color: #1e87f0;
    background-color: #1e87f0;

    @media screen and (-ms-high-contrast: active), print {
      border: 1px solid #000;
      fill: #000;
    }
  }

  &.-error + label > svg {
    background-color: #ffecec;
    fill: #ffecec;
  }

  &:disabled + label {
    opacity: $form-opacity-disabled;
    cursor: $form-cursor-disabled;
  }
}
