@mixin sw-FormRadio() {
  /* デフォルトのラジオボタンを非表示にする。 */
  @include sr-only();

  & + label {
    display: inline-block;
    position: relative;
    padding-left: em(20);
    cursor: pointer;
  }

  & + label:before {
  $size: em(16);
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: $size;
  height: $size;
  margin: auto;
  border: $form-border;
  border-radius: 50%;
  vertical-align: text-bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

  &:focus + label:before {
    border-color: $form-border-color-focus;
    border-radius: 50%;
    box-shadow: $form-box-shadow-focus;
  }

  &:focus:not(.focus-visible) + label:before {
    border-color: $form-boder-color;
    box-shadow: none;
  }

  &:checked + label:before {
    border: 0;
    background-image: url("/assets/img/SiteWide/Icon/FormRadio_on.svg");
  }

  &:disabled,
  & + label[disabled] {
    cursor: $form-cursor-disabled;
    opacity: $form-opacity-disabled;
  }
}
