@mixin sw-FormTextarea() {
  display: block;
  width: 100%;
  max-width: 100%;
  height: rem(112);
  margin: 0;
  padding: rem(8) rem(16);
  border: 1px solid #d0d0d0;
  border-radius: $form-border-radius;
  font-size: 1em;
  background-color: #fff;
  appearance: none;
  box-shadow: 1px 1px 6px -3px #9e9e9e inset;

  &::placeholder {
    color: $form-placeholder-color;
    font-size: rem(13);
  }

  &:focus {
    outline-width: 0;
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
  }

  &:disabled {
    opacity: $form-opacity-disabled;
    background-color: $form-background-color-disabled;
    cursor: $form-cursor-disabled;
  }
}
