@mixin sw-FormInput() {
  box-sizing: border-box;
  width: 100%;
  height: rem(42);
  padding: 0 rem(16);
  border: 1px solid #d0d0d0;
  border-radius: $form-border-radius;
  font-size: 1rem;
  vertical-align: middle;
  background-color: #fff;
  appearance: none;
  box-shadow: 1px 1px 6px -3px #9e9e9e inset;

  /**
   * Normalize.cssのリセットをします。
   */
  &[type="search"] {
    box-sizing: border-box;
    appearance: none;
  }

  &::placeholder {
    color: $form-placeholder-color;
    font-size: rem(14);
  }

  &:focus {
    outline-width: 0;
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
  }

  &:disabled {
    opacity: $form-opacity-disabled;
    background-color: $form-background-color-disabled;
    cursor: $form-cursor-disabled;
  }
}
