@mixin sw-FormSelect() {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 99%;
    width: calc(100% - 6px);
    margin: auto;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05);
  }

  & > svg {
    @include svgstore(15.6, 32);

    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: rem(16);
    bottom: 0;
    margin: auto;
    fill: currentColor;
  }

  &.-disabled > svg {
    fill-opacity: $form-opacity-disabled;
  }

  & > select {
    vertical-align: middle;
    width: 100%;
    height: rem(40);
    padding: 0 rem(48) 0 rem(16);
    font-size: rem(16);
    line-height: 1;
    border: 1px solid #d0d0d0;
    border-radius: $form-border-radius;
    background-color: #fff;
    box-shadow: 1px 1px 6px -3px #9e9e9e inset;
    appearance: none;
  }

  & > select:focus {
    outline-width: 0;
  }

  [data-whatintent="keyboard"] & > select:focus {
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
  }

  &.-error > select {
    background-color: #ffecec;
  }

  & > select:disabled {
    background-color: $form-background-color-disabled;
    opacity: $form-opacity-disabled;
    cursor: $form-cursor-disabled;
  }

  /* Firefox Hack */
  & > select {
    text-indent: 0.01px;
    text-overflow: "";
  }

  /* IE10以上 */
  & > select::-ms-expand {
    display: none;
  }

  /* IE9ではデフォルトの矢印アイコンを表示する。 */
  &:not(:target)::after {
    background-image: none\9;
  }

  & > select:not(:target) {
    padding-right: 0\9;
  }
}
