@mixin sw-Heading2() {
  font-size: em(19);
  font-weight: bold;
  line-height: 1.4;
  color: $color-brand;

  &:after {
    content: "";
    display: block;
    margin-top: em(8, 19);
    border-top: em(2, 19) solid $color-brand;
  }

  @include mq-up(md) {
    margin-right: 0;
    margin-left: 0;
    font-size: em(26);
    text-align: center;

    &:after {
      margin-top: em(12, 26);
      margin-right: 0;
      margin-left: 0;
      border-top: em(3, 26) solid $color-brand;
    }
  }
}
