@mixin sw-Heading4() {
  padding-bottom: rem(4);
  font-size: rem(16);
  font-weight: bold;
  line-height: 1.4;
  border-bottom: 1px solid #d2d2d2;

  @include mq-up(md) {
    padding-bottom: rem(5);
    font-size: rem(20);
    border-bottom-width: 1px;
  }
}
