@mixin sw-Heading2() {
  font-size: rem(19);
  font-weight: bold;
  line-height: 1.4;
  color: $color-brand;

  @include mq(md) {
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    font-size: rem(26);
  }

  &::after {
    content: "";
    display: block;
    margin-top: rem(8);
    border-top: 2px solid $color-brand;

    @include mq(md) {
      margin-top: rem(12);
      margin-right: 0;
      margin-left: 0;
      border-top: 3px solid $color-brand;
    }
  }
}
