@mixin sw-Label() {
  display: inline-block;
  padding: rem(6) rem(12);
  border: 1px solid currentColor;
  color: $color-text;
  font-size: rem(12);
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  background-color: inherit;

  html:not([data-whatinput="touch"]) &:hover {
    color: currentColor;
    text-decoration: none;
  }
}
