@mixin sw-Label() {
  display: inline-block;
  padding: em(6, 12) em(12, 12);
  border: em(1, 12) solid currentColor;
  color: $color-text;
  font-size: em(12);
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  background-color: inherit;

  &:hover {
    color: currentColor;
    text-decoration: none;
  }
}
