@mixin sw-Label() {
  display: inline-block;
  padding: rem(6) rem(12);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: rem(12);
  line-height: 1;
  border: 1px solid currentColor;
  background-color: inherit;
  color: $color-text;

  html:not([data-whatintent="touch"]) &:hover {
    text-decoration: none;
    color: currentColor;
  }
}
