@mixin sw-ObjectFit() {
  width: 100%;
  max-width: none;
  height: 100%;
  object-fit: none;
  object-position: 50% 50%;

  &[data-object-fit="fill"] {
    object-fit: fill;
  }

  &[data-object-fit="cover"] {
    object-fit: cover;
  }

  &[data-object-fit="contain"] {
    object-fit: contain;
  }

  &[data-object-fit="none"] {
    object-fit: none;
  }

  &[data-object-fit="scale-down"] {
    object-fit: scale-down;
  }

  // left || center || right && top
  &-leftTop { object-position: left top; }
  &-centerTop { object-position: center top; }
  &-rightTop { object-position: right top; }
  // left || center || right && center
  &-leftCenter { object-position: left center; }
  &-centerCenter { object-position: center center; }
  &-rightCenter { object-position: right center; }
  // left || center || right && bottom
  &-leftBottom { object-position: left bottom; }
  &-centerBottom { object-position: center bottom; }
  &-rightBottom { object-position: right bottom; }
}
