 /* #FormInput
   -------------------------------------------------------------------------- */
/*doc
---
name: FormInput
category: SiteWide
tag: Form
---

`<input>`タグのデフォルトスタイルです。

```jade
input.sw-FormInput(type="input" placeholder="デフォルト")

label.sw-FormInput_TextTop(for="input1") inputタグの説明です
input.sw-FormInput(type="input" name="email" autocomplete="email" id="input1" placeholder="example@gmail.com")

input.sw-FormInput(type="input" name="name" autocomplate="name" id="input2" placeholder="山田 太郎")
label.sw-FormInput_TextTop(for="input2") inputタグの説明です

input.sw-FormInput(disabled type="input" placeholder="disabled")
```

`sw-FormInput()`mixinで他のボタンにもスタイルを継承することができます。

```scss
.AnotherFormInput {
  @include sw-FormInput();
}
```
*/
@mixin sw-FormInput() {
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  padding: 0 1em;
  border: 1px solid #d0d0d0;
  border-radius: $form-border-radius;
  font-size: 16px;
  vertical-align: middle;
  background-color: #fff;
  appearance: none;
  box-shadow: 1px 1px 6px -3px #9e9e9e inset;

  /**
   * Normalize.cssのリセットをします。
   */
  &[type="search"] {
    box-sizing: border-box;
    appearance: none;
  }

  &::placeholder {
    color: $form-placeholder-color;
    font-size: $font-size-secondary;
  }

  &:focus {
    outline: 0;
    border-color: $form-focus-border-color;
    box-shadow: $form-focus-box-shadow;
  }

  &:disabled {
    opacity: $form-disabled-opacity;
    background-color: $form-disabled-background-color;
    cursor: $form-disabled-cursor;
  }
}
.sw-FormInput {
  @include sw-FormInput();
}

.sw-FormInput_TextTop {
  display: inline-block;
  margin-bottom: 0.25em;
}

.sw-FormInput_TextBottom {
  display: inline-block;
  margin-top: 0.25em;
}
