 /* #LinkPdf
   -------------------------------------------------------------------------- */
/*doc
---
name: LinkPdf
category: SiteWide
tag: [Link, Icon]
---

リンク先がPDFであることを示す場合に使います。

```jade
p
  a.sw-Link(href="#") テキストリンクです。

p
  a.sw-LinkPdf(href="#") PDFをダウンロードする
    span.sw-LinkPdf_Icon(aria-hidden="true")
```
*/
.sw-LinkPdf {
  color: $color-link;
  text-decoration: none;

  &:hover {
    color: $color-link-hover;
    text-decoration: underline;
  }
}

.sw-LinkPdf_Icon:after {
  @include icon;
  content: "#{$icon-linkPdf}";
  top: -0.2em;
  left: 0.25em;
  font-size: 1.25em;
}
