 /* #ListNote
   -------------------------------------------------------------------------- */
/*doc
---
name: ListNote
category: SiteWide
tag: List
---

注釈用のリストです。米印やアスタリスクが表示されます。

```jade
ul.sw-ListNote
  li 1つ目の注釈です
  li 2つ目の注釈です

div(lang="en")
  ul.sw-ListNote(lang="en")
    li 1つ目の注釈です
    li 2つ目の注釈です
```
*/
.sw-ListNote {
  padding-left: 0;
  list-style-type: none;

  li {
    font-size: $font-size-secondary;
  }

  & > li:before {
    content: "※";
    margin-right: 0.5em;
  }

  [lang="en"] & > li:before,
  [lang="zh-cn"] & > li:before {
    content: "*";
  }
}
