 /* #TextAttention
   -------------------------------------------------------------------------- */
/*doc
---
name: TextAttention
category: SiteWide
tag: Text
---

`<p>`や`<strong>`で使われるようなスタイルです。注意や注目を引きたい場合に使います。

```jade
p 通常の文章です、
  strong.sw-TextAttention 注意や注目を引きたい文章
  | です。
```
*/
.sw-TextAttention {
  color: #a94442;
}
