{
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended",
    "plugin:vue/essential",
    "prettier/vue"
  ],
  "plugins": [
    "import",
    "vue"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "tabWidth": 2,
        "useTabs": false,
        "semi": true,
        "singleQuote": true,
        "trailingComma": "all",
        "bracketSpacing": true,
        "arrowParens": "avoid"
      }
    ],
    "no-console": "warn",
    "no-shadow": ["error", {
      "allow": ["state"]
    }],
    "no-param-reassign": ["error", {
      "props": true,
      "ignorePropertyModificationsFor": ["state"]
    }]
  }
}
