{
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": "airbnb-base",
  "rules": {
    "no-console": "warn",
    "max-len": "warn"
  }
}
