{
  "extends": [
    "stylelint-config-standard",
    "stylelint-prettier/recommended"
  ],
  "syntax": scss,
  "plugins": [
    "stylelint-scss",
    "stylelint-prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": false,
        "trailingComma": "all",
        "bracketSpacing": false
      }
    ],
    "at-rule-blacklist": null,
    "number-leading-zero": null,
    "value-no-vendor-prefix": null,
    "property-no-vendor-prefix": null,
    "declaration-block-no-shorthand-property-overrides": null,
    "no-descending-specificity": null,
    "block-no-empty": null,
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true
  }
}
