.styleguide-Block {
  @include l-Block();

  &::after {
    content: "";
    clear: both;
    display: block;
  }
}

.styleguide-Block_Left {
  margin-bottom: 1em;

  @include mq(lg) {
    float: left;
    margin-right: 1em;
    margin-bottom: 0;
  }
}

.styleguide-Block_Right {
  overflow: hidden;

  & h3 {
    margin-bottom: 1em;
  }

  & p + p {
    margin-top: 1em;
  }
}
