.styleguide-Box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 1rem;
  background-color: #aaa;
  color: #fff;
}
