p クリックを促すようなテキストリンクに使います。

p.sw-Text
  a.sw-Link(href="#") テキストリンクです。

p.sw-Text
  a.sw-LinkMore(href="#")
    | 詳しく見る
    svg.sw-LinkMore_Icon(role="img")
      use(xlink:href="/assets/svg/sprite.svg#right-arrow1")
