.sw-BrShowSm {
  display: none;

  @include mq(sm) {
    display: inline;
  }
}

.sw-BrShowMd {
  display: none;

  @include mq(md) {
    display: inline;
  }
}

.sw-BrShowLg {
  display: none;

  @include mq(lg) {
    display: inline;
  }
}

.sw-BrShowXl {
  display: none;

  @include mq(xl) {
    display: inline;
  }
}

.sw-BrHideSm {
  display: inline;

  @include mq(sm) {
    display: none;
  }
}

.sw-BrHideMd {
  display: inline;

  @include mq(md) {
    display: none;
  }
}

.sw-BrHideLg {
  display: inline;

  @include mq(lg) {
    display: none;
  }
}

.sw-BrHideXl {
  display: inline;

  @include mq(xl) {
    display: none;
  }
}
