/*
---
name: sw-Br
namespace: sw-
category: Text
---

`<br>`タグに指定をして、改行をブレイクポイントごとにコントロールします。

```jade
.l-Wrapper
  p.sw-Text 常に改行
    br
    | されます
  p.sw-Text ブレイクポイント（`md`）以降に改行
    br.sw-BrShowMd
    | されます。
  p.sw-Text ブレイクポイント（`md`）以降は改行
    br.sw-HideMd
    | されません。
```
*/
.sw-BrShowSm {
  display: none;

  @include mq(sm) {
    display: inline;
  }
}

.sw-BrShowMd {
  display: none;

  @include mq(md) {
    display: inline;
  }
}

.sw-BrShowLg {
  display: none;

  @include mq(lg) {
    display: inline;
  }
}

.sw-BrShowXl {
  display: none;

  @include mq(xl) {
    display: inline;
  }
}

.sw-BrHideSm {
  display: inline;

  @include mq(sm) {
    display: none;
  }
}

.sw-BrHideMd {
  display: inline;

  @include mq(md) {
    display: none;
  }
}

.sw-BrHideLg {
  display: inline;

  @include mq(lg) {
    display: none;
  }
}

.sw-BrHideXl {
  display: inline;

  @include mq(xl) {
    display: none;
  }
}
