/*
---
name: sw-Button
namespace: sw-
category: [Button, Link, Form]
---

ボタンのデフォルトスタイルです。横幅は280pxまでに制限されます。

```jade
.l-Wrapper
  a.sw-Button(href="#") aタグボタン
  a.sw-Button.sw-Button-disabled(href="#" tabindex="-1") aタグボタン
  button.sw-Button#foo(type="button") buttonタグボタン
  button.sw-Button(disabled type="button") buttonタグボタン
  input.sw-Button(type="button" value="inputボタン")
  input.sw-Button(type="button" value="inputボタン" disabled)
```

`.sw-Button-full`を追加すると横幅100%になります。

```jade
.l-Wrapper
  a.sw-Button(href="#") デフォルト
  a.sw-Button.sw-Button-full(href="#") 横幅100%
```

`.sw-Button-auto`を追加すると横幅はなりゆきになります。

```jade
.l-Wrapper
  a.sw-Button(href="#") デフォルト
  a.sw-Button.sw-Button-auto(href="#") 横幅なりゆき
```

`.sw-Button_More`を追加すると矢印が付きます。

```jade
.l-Wrapper
  a.sw-Button(href="#") デフォルト
  a.sw-Button(href="#")
    svg.sw-Button_More(role="img")
      use(xlink:href="/assets/svg/sprite.svg#right-arrow1")
    | 矢印付きボタン
```
*/
.sw-Button {
  @include sw-Button;
  border-color: $color-brand;
  color: #fff;
  background-color: $color-brand;

  html:not([data-whatinput="touch"]) &:hover {
    color: $color-brand;
    background-color: #fff;
  }

  html:not([data-whatinput="touch"]) &:disabled:hover,
  html:not([data-whatinput="touch"]) &-disabled:hover {
    color: #fff;
  }
}

.sw-Button-full {
  width: 100%;
  max-width: none;
}

.sw-Button-auto {
  width: auto;
}

.sw-Button_More {
  position: relative;
  top: -0.1em;
  display: inline-block;
  position: absolute;
  top: 0;
  right: rem(16);
  bottom: 0;
  width: (291.6 / 499.9) * 1em;
  height: 1em;
  margin: auto;
  vertical-align: middle;
  font-size: 1em;
  fill: currentColor;

  @include mq-up(lg) {
    right: rem(12);
  }
}
