/*
---
name: sw-Button
namespace: sw-
category: [Button, Link, Form]
---

ボタンのデフォルトスタイルです。

```jade
.l-Wrapper
  a.sw-Button(href="#") aタグボタン
  a.sw-Button.-disabled(href="#" tabindex="-1") aタグボタン
  button.sw-Button#foo(type="button") buttonタグボタン
  button.sw-Button(disabled type="button") buttonタグボタン
  input.sw-Button(type="button" value="inputボタン")
  input.sw-Button(type="button" value="inputボタン" disabled)
```

`.-full`を追加すると横幅100%になります。

```jade
.l-Wrapper
  a.sw-Button(href="#") デフォルト
  a.sw-Button.-full(href="#") 横幅100%
```

`.-auto`を追加すると横幅はなりゆきになります。

```jade
.l-Wrapper
  a.sw-Button(href="#") デフォルト
  a.sw-Button.-auto(href="#") 横幅なりゆき
```

`.sw-Button_More`を追加すると矢印が付きます。

```jade
.l-Wrapper
  a.sw-Button(href="#") デフォルト
  a.sw-Button(href="#")
    | 矢印付きボタン
    svg.sw-Button_More(role="img")
      use(xlink:href="/assets/svg/sprite.svg#right-arrow1")
```
*/
.sw-Button {
  @include sw-Button;

  border-color: $color-brand;
  background-color: $color-brand;
  color: #fff;

  html:not([data-whatintent="touch"]) &:hover {
    background-color: #fff;
    color: $color-brand;
  }

  html:not([data-whatintent="touch"]) &:disabled:hover,
  html:not([data-whatintent="touch"]) &.-disabled:hover {
    color: #fff;
  }
}

.sw-Button.-full {
  width: 100%;
  max-width: none;
}

.sw-Button.-auto {
  width: auto;
  min-width: auto;
}

.sw-Button_More {
  @include svgstore(291.6, 499.9);

  position: relative;
  top: rem(-0.1);
  left: 0;
  margin-left: rem(6);
  font-size: em(12);
  fill: currentColor;

  @include mq(lg) {
    right: rem(12);
  }
}
