.sw-Caption {
  @include l-Text();

  display: table;
  min-width: 100px; /* 1 */
}

.sw-Caption_Image {
}

/**
 * 1. キャプションは常に画像の下に配置します
 */
.sw-Caption_Text {
  display: table-caption;
  margin-top: rem(6);
  font-size: rem(13);
  line-height: 1.4;
  caption-side: bottom; /* 1 */
}

/**
 * コンポーネント自体をセンタリングします。
 */
.sw-Caption.-center {
  margin-right: auto;
  margin-left: auto;
}

/**
 * テキストをセンタリングします。
 */
.sw-Caption_Text.-center {
  text-align: center;
}

/**
 * テキストを右揃えにします。
 */
.sw-Caption_Text.-right {
  text-align: right;
}
