/*
---
name: sw-Dialog
namespace: sw-
category: InteractiveComponent
---

A11yに対応したダイアログ（モーダル）です。
複数のダイアログを使う場合は`data-a11y-dialog-show="sw-Dialog1"`と`id="sw-Dialog1"`の値を`sw-Dialog2`や`sw-Dialog3`のように連番で指定してください。
最大で10個まで対応しています。
メインコンテンツに`#main`を指定、ダイアログはそのID要素と兄弟関係になるようにしてください。
幅と高さはブレイクポイントごとに固定されています。

```jade
.l-Wrapper#main
  button.sw-Dialog_Link(data-a11y-dialog-show="sw-Dialog1") ダイアログ1を開く
  br
  button.sw-Dialog_Link(data-a11y-dialog-show="sw-Dialog2") ダイアログ2を開く

.sw-Dialog_Dialog#sw-Dialog1
  .sw-Dialog_Overlay(tabindex="-1" data-a11y-dialog-hide)
  dialog.sw-Dialog_Content(aria-labelledby="dialog-title1" aria-describedby1="dialogDescription")
    .sw-Dialog_Inner
      .sw-Dialog_Head
        button.sw-Dialog_Close(type="button" data-a11y-dialog-hide aria-label="この画面を閉じる")
          svg.sw-Dialog_CloseIcon(role="img")
            use(xlink:href="/assets/svg/sprite.svg#close1")
      .sw-Dialog_Body
        h3#dialog-title1 ダイアログ1のタイトル
        p#dialogDescription1 ダイアログ1の概要
        p `aria-labelledby`と`aria-describedby`で、タイアログのタイトルと概要を紐づけています。

.sw-Dialog_Dialog#sw-Dialog2
  .sw-Dialog_Overlay(tabindex="-1" data-a11y-dialog-hide)
  dialog.sw-Dialog_Content(aria-labelledby="dialog-title2" aria-describedby="dialogDescription2")
    .sw-Dialog_Inner
      .sw-Dialog_Head
        button.sw-Dialog_Close(type="button" data-a11y-dialog-hide aria-label="この画面を閉じる")
          svg.sw-Dialog_CloseIcon(role="img")
            use(xlink:href="/assets/svg/sprite.svg#close1")
      .sw-Dialog_Body
        h3#dialog-title2 ダイアログ2のタイトル
        p#dialogDescription2 ダイアログ2の概要
        p とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。とても長いコンテンツの例です。
```
*/
.sw-Dialog_Content {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 90%;
  min-height: rem(250);
  max-width: rem(600);
  height: 50%;
  max-height: rem(300);
  margin: auto;
  padding: 0;
  border: none;
  background-color: transparent;

  @include mq(md) {
    width: 80%;
    height: 30%;
    max-height: rem(400);
  }

  @include mq(lg) {
    height: 40%;
  }

  // dialog要素が使用された場合の背景色
  &::backdrop {
    background-color: rgba(#000, 0.6);
  }

  // ダイアログを表示
  &[open] {
    display: block;
  }
}

@keyframes sw-Dialog_Inner {
  from {
    opacity: 0;
    transform: translateY(10%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sw-Dialog_Inner {
  -js-display: flex;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: rem(3);
  background-color: #fff;
  color: $color-text;

  .sw-Dialog_Dialog:not([aria-hidden="true"]) & {
    animation-name: sw-Dialog_Inner;
    animation-duration: $global-transition-duration;
  }
}

.sw-Dialog_Head {
  position: absolute;
  top: rem(8);
  right: rem(8);

  @include mq(lg) {
    right: rem(18);
  }
}

.sw-Dialog_Body {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin-top: rem(40);
  padding: 0 rem(50) rem(40);

  @include mq(md) {
    padding: rem(40);
  }
}

@keyframes sw-Dialog_Overlay {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sw-Dialog_Overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  // dialog要素が使用できなかった場合の背景色
  background-color: rgba(#000, 0.6);

  [id="main"][aria-hidden="true"] ~ .sw-Dialog_Dialog:not([aria-hidden="true"]) & {
    // dialog要素が使用できない場合は表示
    display: block;
    animation-name: sw-Dialog_Overlay;
    animation-duration: $global-transition-duration;
  }
}

.sw-Dialog_Close {
  @include on-event() {
    text-decoration: none;
  }

  display: inline-block;
  width: rem(32);
  height: rem(32);
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  transition-timing-function: $global-transition-timing-function;
  transition-duration: $global-transition-duration;
  appearance: none;

  &[type="button"] {
    appearance: none;
  }

  [data-whatintent="keyboard"] &:focus {
    outline-width: 0;
    box-shadow: $form-box-shadow-focus;
  }

  [data-whatintent="mouse"] &:focus,
  [data-whatintent="touch"] &:focus {
    outline-width: 0;
    box-shadow: none;
  }
}

.sw-Dialog_CloseIcon {
  width: 1em;
  height: 1em;
  font-size: rem(18);
  fill: currentColor;
}

.sw-Dialog_Link {
  display: inline;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: underline;
  font-family: inherit;
  font-size: 1rem;
  line-height: $global-line-height;
  border: none;
  background: transparent;
  color: $color-link;
  cursor: pointer;
  transition-timing-function: $global-transition-timing-function;
  transition-duration: $global-transition-duration;
  appearance: none;

  html:not([data-whatintent="touch"]) &:hover {
    text-decoration: none;
    color: $color-link-hover;
  }

  [data-whatintent="keyboard"] &:focus {
    outline-width: 0;
    box-shadow: $form-box-shadow-focus;
  }

  [data-whatintent="mouse"] &:focus,
  [data-whatintent="touch"] &:focus {
    outline-width: 0;
    box-shadow: none;
  }
}

.sw-Dialog_Fixed {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
