.sw-Divider {
  display: block;
  box-sizing: inherit;
  width: 100%;
  height: auto;
  margin: rem(35) 0;
  margin-right: auto;
  margin-left: auto;
  border: 0;
  border-top: 1px solid #e5e5e5;

  & + .sw-Text {
    margin-top: 0;
  }
}
