/*
---
name: sw-FormSelect
namespace: sw-
category: Form
---

`<select>`タグのデフォルトスタイルです。

```jade
.l-Wrapper
  label.sw-FormLabel(for="prefecture1")
    | 都道府県
  .sw-FormSelect
    select(name="prefecture1")
      option(value="0") 選択してください
      option(value="1") 北海道
      option(value="2") 秋田
    svg(role="img")
      use(xlink:href="/assets/svg/sprite.svg#select1")
```

必須項目のエラー表示。

```jade
.l-Wrapper
  label.sw-FormLabel(for="prefecture2")
    | 都道府県
    em.sw-FormLabel_RequireA （必須）
  .sw-FormSelect.sw-FormSelect-error
    select(name="prefecture2")
      option(value="0") 選択してください
      option(value="1") 北海道
      option(value="2") 秋田
    svg(role="img")
      use(xlink:href="/assets/svg/sprite.svg#select1")
  p.sw-FormHelp
    strong 都道府県を選択してください
```

非活性状態。

```jade
.l-Wrapper
  label.sw-FormLabel(for="prefecture3")
    | 都道府県
  .sw-FormSelect.is-disabled
    select(name="prefecture3" disabled)
      option(value="0") 選択してください
      option(value="1") 北海道
      option(value="2") 秋田
    svg(role="img")
      use(xlink:href="/assets/svg/sprite.svg#select1")
```
*/
.sw-FormSelect {
  @include sw-FormSelect();
}
