/*
---
name: sw-FormTextarea
namespace: sw-
category: Form
---

`<textarea>`のデフォルトスタイルです。

```jade
.l-Wrapper
  label.sw-FormLabel(for="textarea1") お問い合わせ内容
  textarea.sw-FormTextarea(id="textarea1" name="textarea1" placeholder="例）お問い合わせ内容")
```

高さを出したバリエーション。

```jade
.l-Wrapper
  label.sw-FormLabel(for="textarea2") お問い合わせ内容
  textarea.sw-FormTextarea.sw-FormTextarea-large(id="textarea2" name="textarea2" placeholder="例）お問い合わせ内容")
```

必須項目のエラー表示。

```jade
.l-Wrapper
  label.sw-FormLabel(for="textarea3")
    | お問い合わせ内容
    em.sw-FormLabel_RequireA （必須）
  textarea.sw-FormTextarea.sw-FormTextarea-error(id="textarea3" name="textarea3" placeholder="例）お問い合わせ内容")
  p.sw-FormHelp
    strong お問い合わせ内容を入力してください
```

非活性状態。

```jade
.l-Wrapper
  label.sw-FormLabel(for="textarea4") お問い合わせ内容
  textarea.sw-FormTextarea(id="textarea4" name="textarea4" placeholder="例）お問い合わせ内容" disabled)
```
*/
.sw-FormTextarea {
  @include sw-FormTextarea();
}

.sw-FormTextarea-large {
  height: rem(224);
}
