.sw-FormLabel {
  -js-display: flex;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(10);
  font-size: rem(16);
  font-weight: bold;
  line-height: 1.4;
}

.sw-FormLabel_RequireA {
  display: inline;
  font-weight: normal;
  color: #e24d35;
}

.sw-FormLabel_RequireB {
  display: inline-block;
  padding: rem(4) rem(10);
  font-size: rem(12);
  font-weight: normal;
  line-height: 1;
  border-radius: rem(3);
  background-color: #e24d35;
  color: #fff;
}

.sw-FormLabel_Note {
  display: block;
  flex-basis: 100%;
  max-width: 100%;
  font-size: rem(14);
  font-weight: normal;
  line-height: 1.4;
}
