/*
---
name: sw-FormInput
namespace: sw-
category: Form
---

`<input>`タグのデフォルトスタイルです。

```jade
.l-Wrapper
  input.sw-FormInput(id="input1" type="text" name="name" autocomplete="name" placeholder="例）山田 太郎")
  input.sw-FormInput(id="input2" type="text" name="nameKana" autocomplete="name" placeholder="例）ヤマダ タロウ")
  input.sw-FormInput(id="input3" type="email" name="email" autocomplete="email" placeholder="例）example@gmail.com")
  input.sw-FormInput(id="input4" type="tel" name="tel" autocomplete="tel" placeholder="例）0120-117-117")
  input.sw-FormInput(id="input5" type="number" name="postalCode" autocomplete="postal-code" placeholder="例）105-0011")
```
*/
.sw-FormInput {
  @include sw-FormInput();
}
