/*
---
name: sw-FormCheckbox
namespace: sw-
category: Form
---

`type="checkbox"`のデフォルトスタイルです。

```jade
.l-Wrapper
  input.sw-FormCheckbox(type="checkbox" id="checkbox1" name="checkbox1" value="0")
  label(for="checkbox1")
    svg(role="img")
      use(xlink:href="/assets/svg/sprite.svg#checkbox1")
    span チェックボックス1

  input.sw-FormCheckbox(type="checkbox" id="checkbox2" name="checkbox1" value="1")
  label(for="checkbox2")
    svg(role="img")
      use(xlink:href="/assets/svg/sprite.svg#checkbox1")
    span チェックボックス2チェックボックス2チェックボックス2

  input.sw-FormCheckbox(type="checkbox" id="checkbox3" name="checkbox1" value="2" disabled)
  label(for="checkbox3")
    svg(role="img")
      use(xlink:href="/assets/svg/sprite.svg#checkbox1")
    span チェックボックス3
```
*/
.sw-FormCheckbox {
  @include sw-FormCheckbox();
}
