/*
---
name: sw-FormTextarea
namespace: sw-
category: Form
---

`<textarea>`のデフォルトスタイルです。

```jade
.l-Wrapper
  textarea.sw-FormTextarea(id="textarea1" name="textarea1" placeholder="例）お問い合わせ内容")
  textarea.sw-FormTextarea.sw-FormTextarea-large(id="textarea2" name="textarea2" placeholder="例）お問い合わせ内容")
  textarea.sw-FormTextarea.sw-FormTextarea-large(id="textarea2" name="textarea2" placeholder="例）お問い合わせ内容" disabled)
```
*/
.sw-FormTextarea {
  @include sw-FormTextarea();
}

.sw-FormTextarea-large {
  height: rem(224);
}
