/*
---
name: sw-Heading4
namespace: sw-
category: Heading
---

`<h4>`で使用する見出しです。

```jade
.l-Wrapper
  h4.sw-Heading4 見出し4
```
*/
.sw-Heading4 {
  @include sw-Heading4();

  margin: $heading4-margin;

  @include mq(md) {
    margin: $heading4-margin-md;
  }

  & + * {
    margin-top: 0;
  }
}
