/*
---
name: sw-Heading3
namespace: sw-
category: Heading
---

`<h3>`で使用する見出しです。

```jade
.l-Wrapper
  h3.sw-Heading3 見出し3
```
*/
.sw-Heading3 {
  @include sw-Heading3();
  margin: $heading3-margin;

  & + * {
    margin-top: 0;
  }

  @include mq-up(md) {
    margin: $heading3-margin-md;
  }
}
