/*
---
name: sw-Heading5
namespace: SiteWide
category: Heading
---

`<h5>`で使用する見出しです。余白には`.st-Heading5`を使用します。

```jade
.st-Wrapper
  h5.sw-Heading5.st-Heading5 見出し5
```
*/
.sw-Heading5 {
  @include sw-Heading5();
}
