/*
---
name: sw-Heading2
namespace: sw-
category: Heading
---

`<h2>`で使用する見出しです。

```jade
.l-Wrapper
  h2.sw-Heading2 見出し2
```
*/
.sw-Heading2 {
  @include sw-Heading2();
  margin: $heading2-margin;

  & + * {
    margin-top: 0;
  }

  @include mq-up(md) {
    margin: $heading2-margin-md;
  }
}
