/*
---
name: sw-Heading2
namespace: SiteWide
category: Heading
---

`<h2>`で使用する見出しです。

```jade
.l-Wrapper
  h2.sw-Heading2 見出し2
```
*/
.sw-Heading2 {
  $self: &;
  @include sw-Heading2();
  margin-bottom: $margin-heading2;

  &#{$self} + * {
    margin-top: 0;
  }

  @include mq-up(md) {
    margin-bottom: $margin-heading2-md;
  }
}
