/*
---
name: sw-ImageCenter
namespace: .sw-
category: Image
---

画像をセンタリングします。

```jade
.l-Wrapper
  p.sw-ImageCenter
    img(src="https://placehold.jp/300x200.png" alt="")
```
*/
.sw-ImageCenter {
  display: block;
  margin: $text-margin;
  text-align: center;

  @include mq-up(md) {
    margin: $text-margin-md;
  }
}
