/*
---
name: sw-LinkPdf
namespace: sw-
category: [Link, Icon]
---

リンク先がPDFであることを示す場合に使います。

```jade
.l-Wrapper
  p.sw-Text
    a.sw-Link(href="#") テキストリンクです。

  p.sw-Text
    a.sw-LinkPdf(href="#")
      | PDFをダウンロードする
      svg.sw-LinkPdf_Icon(role="img")
        use(xlink:href="/assets/svg/sprite.svg#pdf1")
```
*/
.sw-LinkPdf {
  text-decoration: none;
  color: $color-link;

  html:not([data-whatintent="touch"]) &:hover {
    text-decoration: underline;
    color: $color-link-hover;
  }
}

.sw-LinkPdf_Icon {
  @include svgstore(429, 500);

  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -0.1em;
  font-size: 1em;
  fill: currentColor;

  [lang="ja"] &,
  [lang^="zh"] & {
  }
}
