/*
---
name: sw-LinkNote
namespace: sw-
category: Link
---

注釈へのリンクです。`<sup>`タグの子要素として指定します。

```jade
.l-Wrapper
  p.sw-Text ○○
    sup.sw-Sup
      a.sw-LinkNote(href="#") 1
    | を使っています。

  p.sw-Text(lang="en") ○○
    sup.sw-Sup
      a.sw-LinkNote(href="#") 1
    | を使っています。
```
*/
.sw-LinkNote {
  text-decoration: underline;
  color: $color-link;

  html:not([data-whatintent="touch"]) &:hover {
    text-decoration: underline;
    color: $color-link-hover;
  }

  &::before {
    content: "※";
    margin-left: rem(3);
  }

  [lang^="en"] &::before,
  [lang^="zh-cn"] &::before {
    content: "*";
  }
}
