/*
---
name: sw-LinkDownload
namespace: sw-
category: [Link, Icon]
---

ファイルをダウンロードするためのリンクであることを示す場合に使います。

```jade
.l-Wrapper
  p.sw-Text
    a.sw-Link(href="#") テキストリンクです。

  p.sw-Text
    a.sw-LinkDownload(href="#") ファイルをダウンロードする
      span.sw-LinkDownload_Icon(aria-hidden="true")
```
*/
.sw-LinkDownload {
  color: $color-link;
  text-decoration: none;

  &:hover {
    color: $color-link-hover;
    text-decoration: underline;
  }
}

.sw-LinkDownload_Icon:after {
  @include Icon(linkDownload);
  font-size: em(20);

  [lang="ja"] &,
  [lang^="zh"] & {
    position: relative;
    top: em(-4, 20);
    left: em(5, 20);
  }
}
