.sw-LinkExternal {
  text-decoration: none;
  color: $color-link;

  html:not([data-whatintent="touch"]) &:hover {
    text-decoration: underline;
    color: $color-link-hover;
  }
}

.sw-LinkExternal_Icon {
  @include svgstore(500, 428.6);

  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -0.1em;
  font-size: 1em;
  fill: currentColor;

  [lang="ja"] &,
  [lang^="zh"] & {
  }
}
