/*
---
name: sw-LinkDownload
namespace: sw-
category: [Link, Icon]
---

ファイルをダウンロードするためのリンクであることを示す場合に使います。

```jade
.l-Wrapper
  p.sw-Text
    a.sw-Link(href="#") テキストリンクです。

  p.sw-Text
    a.sw-LinkDownload(href="#")
      | ファイルをダウンロードする
      svg.sw-LinkDownload_Icon(role="img")
        use(xlink:href="/assets/svg/sprite.svg#download1")
```
*/
.sw-LinkDownload {
  color: $color-link;
  text-decoration: none;

  html:not([data-whatinput="touch"]) &:hover {
    color: $color-link-hover;
    text-decoration: underline;
  }
}

.sw-LinkDownload_Icon {
  position: relative;
  top: -0.2em;
  display: inline-block;
  width: 1em;
  height: (428.6 / 464.3) * 1em;
  vertical-align: middle;
  font-size: 1em;
  fill: currentColor;

  [lang="ja"] &,
  [lang^="zh"] & {
  }
}
