/*
---
name: sw-LinkPdf
namespace: sw-
category: [Link, Icon]
---

リンク先がPDFであることを示す場合に使います。

```jade
.l-Wrapper
  p.sw-Text
    a.sw-Link(href="#") テキストリンクです。

  p.sw-Text
    a.sw-LinkPdf(href="#").
      PDFをダウンロードする
      <svg class="sw-LinkPdf_Icon" role="img">
        <use xlink:href="/assets/img/svg/sprite.svg#linkPdf"></use>
      </svg>
```
*/
.sw-LinkPdf {
  color: $color-link;
  text-decoration: none;

  &:hover {
    color: $color-link-hover;
    text-decoration: underline;
  }
}

.sw-LinkPdf_Icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.1em;
  font-size: 1em;
  fill: currentColor;

  [lang="ja"] &,
  [lang^="zh"] & {
  }
}
