/*
---
name: sw-LinkMore
namespace: sw-
category: [Link, Icon]
---

クリックを促すようなテキストリンクに使います。

```jade
.l-Wrapper
  p.sw-Text
    a.sw-Link(href="#") テキストリンクです。

  p.sw-Text
    a.sw-LinkMore(href="#") 詳しく見る
      span.sw-LinkMore_Icon(aria-hidden="true")
```
*/
.sw-LinkMore {
  color: $color-link;
  text-decoration: none;

  &:hover {
    color: $color-link-hover;
    text-decoration: underline;
  }
}

.sw-LinkMore_Icon:after {
  @include Icon(linkMore);
  font-size: rem(13);

  [lang="ja"] &,
  [lang^="zh"] & {
    position: relative;
    top: rem(-2);
    left: rem(3);
  }
}
