.sw-LinkNote {
  text-decoration: underline;
  color: $color-link;

  html:not([data-whatintent="touch"]) &:hover {
    text-decoration: underline;
    color: $color-link-hover;
  }

  &::before {
    content: "※";
    margin-left: rem(3);
  }

  [lang^="en"] &::before,
  [lang^="zh-cn"] &::before {
    content: "*";
  }
}
