/*
---
name: sw-ListOrder
namespace: sw-
category: List
---

入れ子に対応した順序リストです。

```jade
.l-Wrapper
  ol.sw-ListOrder
    li 入れ子に対応した順序リストです。入れ子に対応した順序リストです。
    li 入れ子に対応した順序リストです。
      ol.sw-ListOrder_Child
        li 入れ子に対応した順序リストです。入れ子に対応した順序リストです。
        li 入れ子に対応した順序リストです。
```

リストを2から始める場合はstart属性を`start="2"`のように指定します。CSSで表示する順序も属性値によって変更されます。

```jade
.l-Wrapper
  ol.sw-ListOrder(start="2")
    li 入れ子に対応した順序リストです。入れ子に対応した順序リストです。
    li 入れ子に対応した順序リストです。
      ol.sw-ListOrder_Child
        li 入れ子に対応した順序リストです。入れ子に対応した順序リストです。
        li 入れ子に対応した順序リストです。
```
*/
.sw-ListOrder {
  @include l-Text();

  display: table;
  padding-left: 0;
  list-style-type: none;
  counter-reset: order;

  // start属性値に応じてCSSのカウンターも変更します。
  // デフォルトは`through 9`で`start="10"`まで対応しています。
  @for $i from 1 through 9 {
    &[start="#{$i + 1}"] {
      counter-reset: order $i;
    }
  }

  & > li {
    display: table-row;
    counter-increment: order;
  }

  & > li::before {
    content: counters(order, "-") ".";
    display: table-cell;
    padding-right: rem(8);
    text-align: right;
    white-space: nowrap;
  }
}

.sw-ListOrder_Child {
  padding-left: 0;
  list-style-type: none;
  counter-reset: order;

  & > li {
    display: table-row;
    counter-increment: order;
  }

  & > li::before {
    content: counters(order, "-") ".";
    display: table-cell;
    padding-right: rem(8);
    text-align: right;
    white-space: nowrap;
  }
}
