.sw-ListNote {
  @include l-Text();

  margin-left: rem(20);
  padding-left: 0;
  font-size: rem(13);
  list-style-type: none;

  @include mq(md) {
    margin-left: rem(20);
  }

  [lang="en"] &,
  [lang="zh-cn"] {
    margin-left: rem(13);

    @include mq(md) {
      margin-left: rem(13);
    }
  }

  & > li {
    position: relative;
  }

  & > li::before {
    content: "※";
    position: absolute;
    top: 0;
    left: rem(-20);
  }

  [lang="en"] & > li::before,
  [lang="zh-cn"] & > li::before {
    content: "*";
    left: rem(-13);
  }
}
