.sw-ListUnorder {
  @include l-Text();

  margin-left: rem(24);
  padding-left: 0;
  list-style-type: none;

  @include mq(md) {
    margin-left: rem(24);
  }

  & > li {
    position: relative;
  }

  & > li::before {
    content: "";
    display: block;
    position: absolute;
    top: rem(8);
    left: rem(-16);
    width: rem(6);
    height: rem(6);
    border: 3px solid #000;
    border-radius: 50%;
  }
}

.sw-ListUnorder_Child {
  padding-left: 0;
  list-style-type: none;

  & > li {
    position: relative;
    margin-left: rem(24);
  }

  & > li::before {
    content: "";
    display: block;
    position: absolute;
    top: rem(8);
    left: rem(-16);
    width: rem(6);
    height: rem(6);
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #fff;
  }
}
