/*
---
name: sw-ListNote
namespace: sw-
category: List
---

注釈用のリストです。米印やアスタリスクが表示されます。

```jade
.l-Wrapper
  ul.sw-ListNote
    li 1つ目の注釈です1つ目の注釈です1つ目の注釈です1つ目の注釈です1つ目の注釈です
    li 2つ目の注釈です

  div(lang="en")
    ul.sw-ListNote
      li This is the first comment. This is the first comment. This is the first comment.
      li This is the second comment.
```
*/
.sw-ListNote {
  @include l-Text();

  margin-left: rem(20);
  padding-left: 0;
  font-size: rem(13);
  list-style-type: none;

  @include mq(lg) {
    margin-left: rem(20);
  }

  [lang="en"] &,
  [lang="zh-cn"] {
    margin-left: rem(13);

    @include mq(lg) {
      margin-left: rem(13);
    }
  }

  & > li {
    position: relative;
  }

  & > li::before {
    content: "※";
    position: absolute;
    top: 0;
    left: rem(-20);
  }

  [lang="en"] & > li::before,
  [lang="zh-cn"] & > li::before {
    content: "*";
    left: rem(-13);
  }
}
