/*
---
name: sw-ListNoteOrder
namespace: sw-
category: List
---

注釈用のリストです。米印やアスタリスクが表示されます。

```jade
.l-Wrapper
  ol.sw-ListNoteOrder
    li 注釈です。注釈です。注釈です。注釈です。注釈です。注釈です。注釈です。
    li 注釈です。

  div(lang="en")
    ul.sw-ListNoteOrder
      li This is an annotation. This is an annotation. This is an annotation.
      li This is an annotation.
```

リストを2から始める場合はstart属性を`start="2"`のように指定します。CSSで表示する順序も属性値によって変更されます。

```jade
.l-Wrapper
  ol.sw-ListNoteOrder(start="2")
    li 注釈です。注釈です。注釈です。注釈です。注釈です。注釈です。注釈です。
    li 注釈です。

  div(lang="en")
    ol.sw-ListNoteOrder(start="2")
      li This is an annotation. This is an annotation. This is an annotation.
      li This is an annotation.
```
*/
.sw-ListNoteOrder {
  @include l-Text();

  margin-left: rem(26);
  padding-left: 0;
  font-size: rem(13);
  list-style-type: none;
  counter-reset: noteOrder 0;

  @include mq(lg) {
    margin-left: rem(26);
  }

  [lang="en"] &,
  [lang="zh-cn"] {
    margin-left: rem(20);

    @include mq(lg) {
      margin-left: rem(20);
    }
  }

  & > li {
    position: relative;
    counter-increment: noteOrder;
  }

  & > li:target {
    background-color: lightgray;
  }

  & > li::before {
    content: "※" counter(noteOrder);
    position: absolute;
    top: 0;
    left: rem(-26);
  }

  [lang="en"] & > li::before,
  [lang="zh-cn"] & > li::before {
    content: "*" counter(noteOrder);
    left: rem(-20);
  }

  // start属性値に応じてCSSのカウンターも変更します。
  // デフォルトは`through 9`で`start="10"`まで対応しています。

  @for $i from 1 through 9 {
    &[start="#{$i + 1}"] {
      counter-reset: noteOrder $i;
    }
  }
}
