/*
---
name: sw-ListNoteOrder
namespace: sw-
category: List
id: list-03
---

注釈用のリストです。米印やアスタリスクが表示されます。

```jade
.l-Wrapper
  ol.sw-ListNoteOrder
    li 注釈です。注釈です。注釈です。注釈です。注釈です。注釈です。注釈です。
    li 注釈です。

  div(lang="en")
    ul.sw-ListNoteOrder
      li This is an annotation. This is an annotation. This is an annotation.
      li This is an annotation.
```

リストを2から始める場合は`.sw-ListNoteOrder-from2`のように指定します。2~10まで対応しています。CSSが正常に読み込めなかった場合でも意味が変わらないように`start`属性も指定します。

```jade
.l-Wrapper
  ol.sw-ListNoteOrder.sw-ListNoteOrder-from2(start="2")
    li 注釈です。注釈です。注釈です。注釈です。注釈です。注釈です。注釈です。
    li 注釈です。

  div(lang="en")
    ol.sw-ListNoteOrder.sw-ListNoteOrder-from2(start="2")
      li This is an annotation. This is an annotation. This is an annotation.
      li This is an annotation.
```
*/
.sw-ListNoteOrder {
  @include l-Text();
  margin-left: 2em;
  padding-left: 0;
  font-size: $global-font-size-secondary;
  list-style-type: none;
  counter-reset: noteOrder 0;

  @include mq-up(lg) {
    margin-left: 2em;
  }

  [lang="en"] &,
  [lang="zh-cn"] {
    margin-left: 1.5em;
  }

  & > li {
    position: relative;
    counter-increment: noteOrder;
  }

  & > li:target {
    background-color: lightgray;
  }

  & > li:before {
    content: "※" counter(noteOrder);
    position: absolute;
    top: 0;
    left: -2em;
  }

  [lang="en"] & > li:before,
  [lang="zh-cn"] & > li:before {
    content: "*" counter(noteOrder);
    left: -1.5em;
  }
}

.sw-ListNoteOrder-from2 { counter-reset: noteOrder 1; }
.sw-ListNoteOrder-from3 { counter-reset: noteOrder 2; }
.sw-ListNoteOrder-from4 { counter-reset: noteOrder 3; }
.sw-ListNoteOrder-from5 { counter-reset: noteOrder 4; }
.sw-ListNoteOrder-from6 { counter-reset: noteOrder 5; }
.sw-ListNoteOrder-from7 { counter-reset: noteOrder 6; }
.sw-ListNoteOrder-from8 { counter-reset: noteOrder 7; }
.sw-ListNoteOrder-from9 { counter-reset: noteOrder 8; }
.sw-ListNoteOrder-from10 { counter-reset: noteOrder 9; }
