.sw-ListOrder {
  @include l-Text();

  display: table;
  padding-left: 0;
  list-style-type: none;
  counter-reset: order;

  // start属性値に応じてCSSのカウンターも変更します。
  // デフォルトは`through 9`で`start="10"`まで対応しています。
  @for $i from 1 through 9 {
    &[start="#{$i + 1}"] {
      counter-reset: order $i;
    }
  }

  & > li {
    display: table-row;
    counter-increment: order;
  }

  & > li::before {
    content: counters(order, "-") ".";
    display: table-cell;
    padding-right: rem(8);
    text-align: right;
    white-space: nowrap;
  }
}

.sw-ListOrder_Child {
  padding-left: 0;
  list-style-type: none;
  counter-reset: order;

  & > li {
    display: table-row;
    counter-increment: order;
  }

  & > li::before {
    content: counters(order, "-") ".";
    display: table-cell;
    padding-right: rem(8);
    text-align: right;
    white-space: nowrap;
  }
}
