/*
---
name: sw-ListBracketOrder
namespace: sw-
category: List
---

括弧で囲んだ順序リストです。

```jade
.l-Wrapper
  ol.sw-ListBracketOrder
    li リストです。リストです。リストです。リストです。
    li リストです
```

リストを2から始める場合はstart属性を`start="2"`のように指定します。CSSで表示する順序も属性値によって変更されます。

```jade
.l-Wrapper
  ol.sw-ListBracketOrder(start="2")
    li リストです。リストです。リストです。リストです。
    li リストです
```
*/
.sw-ListBracketOrder {
  @include l-Text();

  margin-left: rem(32);
  padding-left: 0;
  list-style-type: none;
  counter-reset: bracketOrder 0;

  @include mq-up(lg) {
    margin-left: rem(32);
  }

  // start属性値に応じてCSSのカウンターも変更します。
  // デフォルトは`through 9`で`start="10"`まで対応しています。
  @for $i from 1 through 9 {
    &[start="#{$i + 1}"] { counter-reset: bracketOrder $i; }
  }

  & > li {
    position: relative;
    counter-increment: bracketOrder;
  }

  & > li::before {
    content: "(" counter(bracketOrder) ")";
    position: absolute;
    top: 0;
    left: rem(-32);
  }
}
