/*
---
name: sw-ListOrder
namespace: .sw-
category: List
---

入れ子に対応した順序リストです。

```jade
.l-Wrapper
  ol.sw-ListOrder
    li 入れ子に対応した順序リストです。入れ子に対応した順序リストです。
    li 入れ子に対応した順序リストです。
      ol.sw-ListOrder_Child
        li 入れ子に対応した順序リストです。入れ子に対応した順序リストです。
        li 入れ子に対応した順序リストです。
```

リストを2から始める場合は`.sw-ListOrder-from2`のように指定します。2~10まで対応しています。CSSが正常に読み込めなかった場合でも意味が変わらないように`start`属性も指定します。

```jade
.l-Wrapper
  ol.sw-ListOrder.sw-ListOrder-from2(start="2")
    li 入れ子に対応した順序リストです。入れ子に対応した順序リストです。
    li 入れ子に対応した順序リストです。
      ol.sw-ListOrder_Child
        li 入れ子に対応した順序リストです。入れ子に対応した順序リストです。
        li 入れ子に対応した順序リストです。
```
*/
.sw-ListOrder {
  @include l-Text();
  display: table;
  padding-left: 0;
  list-style-type: none;
  counter-reset: order;

  & > li {
    display: table-row;
    counter-increment: order;
  }

  & > li:before {
    content: counters(order, "-") ".";
    display: table-cell;
    padding-right: 0.5em;
    text-align: right;
    white-space: nowrap;
  }
}

.sw-ListOrder_Child {
  padding-left: 0;
  list-style-type: none;
  counter-reset: order;

  & > li {
    display: table-row;
    counter-increment: order;
  }

  & > li:before {
    content: counters(order, "-") ".";
    display: table-cell;
    padding-right: 0.5em;
    text-align: right;
    white-space: nowrap;
  }
}

.sw-ListOrder-from2 { counter-reset: order 1; }
.sw-ListOrder-from3 { counter-reset: order 2; }
.sw-ListOrder-from4 { counter-reset: order 3; }
.sw-ListOrder-from5 { counter-reset: order 4; }
.sw-ListOrder-from6 { counter-reset: order 5; }
.sw-ListOrder-from7 { counter-reset: order 6; }
.sw-ListOrder-from8 { counter-reset: order 7; }
.sw-ListOrder-from9 { counter-reset: order 8; }
.sw-ListOrder-from10 { counter-reset: order 9; }
