/*
---
name: sw-Show
namespace: sw-
category: Text
id: text-10
---

`<br>`タグに指定をして、改行をブレイクポイントごとにコントロールします。

```jade
.l-Wrapper
  p.sw-Text 常に改行
    br
    | されます
  p.sw-Text ブレイクポイント以降は改行
    br.sw-Hide.sw-ShowMd
    | されます
```
*/
.sw-Show {
  display: block;
}

.sw-ShowMd {
  @include mq-up(md) {
    display: block;
  }
}

.sw-ShowLg {
  @include mq-up(lg) {
    display: block;
  }
}

.sw-ShowXl {
  @include mq-up(xl) {
    display: none;
  }
}
