/*
---
name: sw-Sup
namespace: sw-
category: Text
---

登録商標（アールマーク）や著作権（マルシーマーク）、注釈リンク（※1）などに使う上付き文字です。


```jade
.l-Wrapper
  p.sw-Text 登録商標
    sup.sw-Sup ®
    | です。
  p.sw-Text 注釈
    sup.sw-Sup: a(href="#") ※1
    | です。
```
*/
.sw-Sup {
  font-size: $global-font-size-secondary;
  position: static;
  vertical-align: super;
}
