.sw-Table {
  @include l-Block();

  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

.sw-Table th,
.sw-Table td {
  vertical-align: top;
  padding: rem(12);
  text-align: left;
  border: 1px solid #ccc;
}

.sw-Table th {
  background-color: #eee;
}
