.sw-TableWide {
  @include l-Block();

  overflow: auto;
  width: 100%;
  background: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center,
    radial-gradient(ellipse at right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
  background-attachment: scroll;
  background-size: 0.75em 100%, 0.75em 100%;
  background-repeat: no-repeat;
}

.sw-TableWide table {
  width: 100%;
  margin-top: 0;
  background: linear-gradient(to left, hsla(0, 0%, 100%, 0), #fff 0.75em) 0 0 / 2em 100%,
    linear-gradient(to right, hsla(0, 0%, 100%, 0), #fff 0.75em) right / 2em 100%;
  background-attachment: local;
  background-repeat: no-repeat;
}

.sw-TableWide th {
  // 背景色は`rgba`で指定する必要があります。
  background: rgba(#000, 0.1);
}

.sw-TableWide th,
.sw-TableWide td {
  white-space: nowrap;
}
