/*
---
name: sw-TableWide
namespace: .sw-
category: List
---

- 横幅の広いテーブルで使用します。
- テキストは自動的に改行されず、画面幅に収まりきらなくなると横スクロールで表示するようになります。
- 改行は`<br>`で指定してください。
- `sw-TableWide_FixedCol`を追加した要素はスクロール時に左側に固定表示されます。

```jade
.l-Wrapper
  .sw-TableWide
    table.sw-Table
      thead
        tr
          th.sw-TableWide_FixedCol(scope="col") thead Table Header
          th(scope="col") thead Table Header
          th(scope="col") thead Table Header
          th(scope="col") thead Table Header
          th(scope="col") thead Table Header
          th(scope="col") thead Table Header
          th(scope="col") thead Table Header
          th(scope="col") thead Table Header
          th(scope="col") thead Table Header
      tbody
        tr
          th.sw-TableWide_FixedCol(scope="row") tbody Table Header
          td tbody Table Data
          td tbody Table Data
          td tbody Table Data
          td tbody Table Data
          td tbody Table Data
          td tbody Table Data
          td tbody Table Data
          td tbody Table Data
        tr
          th.sw-TableWide_FixedCol(scope="row") tbody Table Header
          td tbody Table Data
          td tbody Table Data
          td tbody Table Data
          td tbody Table Data
          td tbody Table Data
          td tbody Table Data
          td tbody Table Data
          td tbody Table Data
        tr
          th.sw-TableWide_FixedCol(scope="row") tbody Table Header
          td tbody Table Data
          td tbody Table Data
          td tbody Table Data
          td tbody Table Data
          td tbody Table Data
          td tbody Table Data
          td tbody Table Data
          td tbody Table Data
```
*/
.sw-TableWide {
  @include l-Block();
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.sw-TableWide table {
  width: 100%;
}

.sw-TableWide th,
.sw-TableWide td {
  white-space: nowrap;
}

.sw-TableWide_FixedCol {
  position: sticky;
  left: -1px;
  z-index: 1;
}
