/*
---
name: sw-Title
namespace: sw-
category: Heading
---

ページタイトルです。

```jade
.l-Wrapper
  h1.sw-Title ページタイトル
```
*/
.sw-Title {
  @include sw-Title();
  margin: $title-margin;

  @include mq-up(md) {
    margin: $title-margin-md;
  }
}
