/*
---
name: sw-Title
namespace: .sw-
category: Heading
---

ページタイトルです。

```jade
.l-Wrapper
  h1.sw-Title ページタイトル
```
*/
.sw-Title {
  @include sw-Title();
  margin-bottom: $margin-title;

  @include mq-up(md) {
    margin-bottom: $margin-title-md;
  }
}
