/*
---
name: sw-Video
namespace: .sw-
category: ThirdPartyComponent
---

Youtubeなどの動画をレスポンシブ対応させます。デフォルトで16:9で表示されます。

```jade
.l-Wrapper
  .sw-Video
    .sw-Video_Video.
      <iframe width="560" height="315" src="https://www.youtube.com/embed/1OKZOV-iLj4"></iframe>
    p.sw-Video_Text 動画にキャプション（短い説明文）をつけます。
```

キャプションを中央揃えにします。

```jade
.l-Wrapper
  .sw-Video
    .sw-Video_Video.
      <iframe width="560" height="315" src="https://www.youtube.com/embed/1OKZOV-iLj4"></iframe>
    p.sw-Video_Text.sw-Video_Text-center 動画にキャプション（短い説明文）をつけます。
```

キャプションを右揃えにします。

```jade
.l-Wrapper
  .sw-Video
    .sw-Video_Video.
      <iframe width="560" height="315" src="https://www.youtube.com/embed/1OKZOV-iLj4"></iframe>
    p.sw-Video_Text.sw-Video_Text-right 動画にキャプション（短い説明文）をつけます。
```
*/
.sw-Video {
  @include l-Block();
}
.sw-Video_Video {
  display: block;
  overflow: hidden;
  position: relative;
  height: 0;
  padding-bottom: percentage(9 / 16);

  &_Item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.sw-Video_Text {
  display: block;
  margin-top: 0.5em;
  font-size: $global-font-size-secondary;
  line-height: 1.4;
}

.sw-Video_Text-center {
  text-align: center;
}

.sw-Video_Text-right {
  text-align: right;
}
