 /* #Grid
   -------------------------------------------------------------------------- */
/*
---
name: Grid
category: Structure
tag: Global
---

グリッドシステムです。カラムごとに任意の値を指定したい場合に使います。
カラム間の余白は幅を`$st-grid-column-gap`で統一しています。

以下のような指定ができます。

- `.st-Grid_Item-8of12` カラム数の指定。
- `.st-Grid-reverse` カラムの反転。
- `.st-Grid-center` カラムのセンタリング。
- `.st-Grid-middle` カラムの垂直配置。

```jade
.st-Grid
  .st-Grid_Item.st-Grid_Item-8of12Md
    img(src="https://placehold.jp/1200x800.png" alt="")
  .st-Grid_Item.st-Grid_Item-4of12Md
    img(src="https://placehold.jp/600x400.png" alt="")

.st-Grid.st-Grid-reversMd
  .st-Grid_Item.st-Grid_Item-8of12Md
    img(src="https://placehold.jp/1200x800.png" alt="")
  .st-Grid_Item.st-Grid_Item-4of12Md
    img(src="https://placehold.jp/600x400.png" alt="")

.st-Grid.st-Grid-centerMd
  .st-Grid_Item.st-Grid_Item-8of12Md
    img(src="https://placehold.jp/1200x800.png" alt="")
```
*/
// `em`と`%`は指定不可
$st-grid-column-gap: 2rem;

.st-Grid {
  margin-left: -$st-grid-column-gap;
  padding-left: 0;
  list-style-type: none;
  display: block;
  font-size: 0;
}

.st-Grid_Item {
  display: inline-block;
  width: 100%;
  padding-left: $st-grid-column-gap;
  font-size: medium;
  font-size: 1rem;
  vertical-align: top;
}

.st-Grid_Item {
  &-1of12 { width: percentage(1 / 12)};
  &-2of12 { width: percentage(2 / 12)};
  &-3of12 { width: percentage(3 / 12)};
  &-4of12 { width: percentage(4 / 12)};
  &-5of12 { width: percentage(5 / 12)};
  &-6of12 { width: percentage(6 / 12)};
  &-7of12 { width: percentage(7 / 12)};
  &-8of12 { width: percentage(8 / 12)};
  &-9of12 { width: percentage(9 / 12)};
  &-10of12 { width: percentage(10 / 12)};
  &-11of12 { width: percentage(11 / 12)};
  &-12of12 { width: percentage(12 / 12)};
}

@include mq-up(md) {
  .st-Grid_Item {
    &-1of12Md { width: percentage(1 / 12)};
    &-2of12Md { width: percentage(2 / 12)};
    &-3of12Md { width: percentage(3 / 12)};
    &-4of12Md { width: percentage(4 / 12)};
    &-5of12Md { width: percentage(5 / 12)};
    &-6of12Md { width: percentage(6 / 12)};
    &-7of12Md { width: percentage(7 / 12)};
    &-8of12Md { width: percentage(8 / 12)};
    &-9of12Md { width: percentage(9 / 12)};
    &-10of12Md { width: percentage(10 / 12)};
    &-11of12Md { width: percentage(11 / 12)};
    &-12of12Md { width: percentage(12 / 12)};
  }
}

@include mq-up(lg) {
  .st-Grid_Item {
    &-1of12Lg { width: percentage(1 / 12)};
    &-2of12Lg { width: percentage(2 / 12)};
    &-3of12Lg { width: percentage(3 / 12)};
    &-4of12Lg { width: percentage(4 / 12)};
    &-5of12Lg { width: percentage(5 / 12)};
    &-6of12Lg { width: percentage(6 / 12)};
    &-7of12Lg { width: percentage(7 / 12)};
    &-8of12Lg { width: percentage(8 / 12)};
    &-9of12Lg { width: percentage(9 / 12)};
    &-10of12Lg { width: percentage(10 / 12)};
    &-11of12Lg { width: percentage(11 / 12)};
    &-12of12Lg { width: percentage(12 / 12)};
  }
}

@include mq-up(xl) {
  .st-Grid_Item {
    &-1of12Xl { width: percentage(1 / 12)};
    &-2of12Xl { width: percentage(2 / 12)};
    &-3of12Xl { width: percentage(3 / 12)};
    &-4of12Xl { width: percentage(4 / 12)};
    &-5of12Xl { width: percentage(5 / 12)};
    &-6of12Xl { width: percentage(6 / 12)};
    &-7of12Xl { width: percentage(7 / 12)};
    &-8of12Xl { width: percentage(8 / 12)};
    &-9of12Xl { width: percentage(9 / 12)};
    &-10of12Xl { width: percentage(10 / 12)};
    &-11of12Xl { width: percentage(11 / 12)};
    &-12of12Xl { width: percentage(12 / 12)};
  }
}

/**
 * 要素の垂直位置を真ん中寄せ。
 */
.st-Grid-middle > .st-Grid_Item {
  vertical-align: middle;
}
@include mq-up(md) {
  .st-Grid-middleMd > .st-Grid_Item {
    vertical-align: middle;
  }
}
@include mq-up(lg) {
  .st-Grid-middleLg > .st-Grid_Item {
    vertical-align: middle;
  }
}
@include mq-up(xl) {
  .st-Grid-middleXl > .st-Grid_Item {
    vertical-align: middle;
  }
}

/**
 * 要素の垂直位置を下寄せ。
 */
.st-Grid--bottom > .st-Grid_Item {
  vertical-align: bottom;
}
@include mq-up(md) {
  .st-Grid-bottomMd > .st-Grid_Item {
    vertical-align: bottom;
  }
}
@include mq-up(lg) {
  .st-Grid-bottomLg > .st-Grid_Item {
    vertical-align: bottom;
  }
}
@include mq-up(xl) {
  .st-Grid-bottomXl > .st-Grid_Item {
    vertical-align: bottom;
  }
}

/**
 * 要素を中央寄せ、要素内は左寄せ。
 */
.st-Grid-center {
  text-align: center;

  & > .st-Grid_Item {
    text-align: left;
  }
}
@include mq-up(md) {
  .st-Grid-centerMd {
    text-align: center;

    & > .st-Grid_Item {
      text-align: left;
    }
  }
}
@include mq-up(lg) {
  .st-Grid-centerLg {
    text-align: center;

    & > .st-Grid_Item {
      text-align: left;
    }
  }
}
@include mq-up(xl) {
  .st-Grid-centerXl {
    text-align: center;

    & > .st-Grid_Item {
      text-align: left;
    }
  }
}

/**
 * 要素を右寄せ、要素内は左寄せ。
 */
.st-Grid-right {
  text-align: right;

  & > .st-Grid_Item {
    text-align: left;
  }
}
@include mq-up(md) {
  .st-Grid-rightMd {
    text-align: right;

    & > .st-Grid_Item {
      text-align: left;
    }
  }
}
@include mq-up(lg) {
  .st-Grid-rightLg {
    text-align: right;

    & > .st-Grid_Item {
      text-align: left;
    }
  }
}
@include mq-up(xl) {
  .st-Grid-rightXl {
    text-align: right;

    & > .st-Grid_Item {
      text-align: left;
    }
  }
}

/**
 * 要素の反転。
 */
.st-Grid-reverse {
  text-align: left;
  direction: rtl;

  & > .st-Grid_Item {
    text-align: left;
    direction: ltr;
  }
}
@include mq-up(md) {
  .st-Grid-reversMd {
    text-align: left;
    direction: rtl;

    & > .st-Grid_Item {
      text-align: left;
      direction: ltr;
    }
  }
}
@include mq-up(lg) {
  .st-Grid-reverseLg {
    text-align: left;
    direction: rtl;

    & > .st-Grid_Item {
      text-align: left;
      direction: ltr;
    }
  }
}
@include mq-up(xl) {
  .st-Grid-reverseXl {
    text-align: left;
    direction: rtl;

    & > .st-Grid_Item {
      text-align: left;
      direction: ltr;
    }
  }
}
