label.sw-FormLabel(for="prefecture3")
  | 都道府県
.sw-FormSelect.is-disabled
  select(name="prefecture3" disabled)
    option(value="0") 選択してください
    option(value="1") 北海道
    option(value="2") 秋田
  svg(role="img")
    use(xlink:href="/assets/svg/sprite.svg#select1")
