 /* #ContentBody
   -------------------------------------------------------------------------- */
/*
---
name: ContentBody
category: Namespace
tag: Layout
---

メインコンテンツエリア内のメイン部分の余白を管理します。

```jade
.layout-ContentBody
  h2.layout-Heading2 .layout-Heading2
  p.layout-Text .layout-Text
  p.layout-Text .layout-Text
```
*/
.layout-ContentBody {
  margin-bottom: 40px;

  & > :last-child {
    margin-bottom: 0;
  }
}
