 /* #Grids
   -------------------------------------------------------------------------- */
/*
---
name: Grids
category: Namespace
tag: Global
---

バリエーションの豊富なグリッドシステムです。親要素（`.layout-Grids`）にクラスを追加することで、1/2や1/3のような均等なカラムや、8/12と4/12のような使用頻度の高いカラムの指定ができます。

カラム間の余白は幅を`$layout-grids-column-gap`、高さを`$layout-grids-row-gap`で統一しています。

`.layout-Grids`同士が同じ階層にある場合（`.layout-Grids + .layout-Grids`）には`.layout-Grids`の間に余白がつきます。

以下のような指定ができます。

- 1/2から1/5までの均等なカラム指定。
- 8/12と4/12のようなカラム指定。
- ブレイクポイント（`.layout-Grids-col*Md`、`.layout-Grids-col*Lg`、`.layout-Grids-col*Xl`）の指定。

```jade
.layout-Grids.layout-Grids-col8to4Md
  .layout-Grids_Item
    img(src="https://placehold.jp/1200x800.png" alt="")
  .layout-Grids_Item
    img(src="https://placehold.jp/600x400.png" alt="")

.layout-Grids.layout-Grids-col8to4Md.layout-Grids-reversMd
  .layout-Grids_Item
    img(src="https://placehold.jp/1200x800.png" alt="")
  .layout-Grids_Item
    img(src="https://placehold.jp/600x400.png" alt="")

.layout-Grids.layout-Grids-col2Md
  .layout-Grids_Item
    img(src="https://placehold.jp/600x400.png" alt="")
  .layout-Grids_Item
    img(src="https://placehold.jp/600x400.png" alt="")

.layout-Grids.layout-Grids-col2.layout-Grids-col3Md
  .layout-Grids_Item
    img(src="https://placehold.jp/600x400.png" alt="")
  .layout-Grids_Item
    img(src="https://placehold.jp/600x400.png" alt="")
  .layout-Grids_Item
    img(src="https://placehold.jp/600x400.png" alt="")
  .layout-Grids_Item
    img(src="https://placehold.jp/600x400.png" alt="")
  .layout-Grids_Item
    img(src="https://placehold.jp/600x400.png" alt="")
```
*/
// `em`と`%`は指定不可
$layout-grids-column-gap: 2rem;
$layout-grids-row-gap: 2rem;

.layout-Grids {
  margin-left: -$layout-grids-column-gap;
  padding-left: 0;
  list-style-type: none;
  display: block;
  font-size: 0;

  /* 同じ階層にある`.layout-Grids`同士の間に余白を入れます。 */
  &:not(:first-of-type) {
    margin-top: $layout-grids-row-gap;
  }
}

.layout-Grids_Item {
  display: inline-block;
  width: 100%;
  padding-left: $layout-grids-column-gap;
  font-size: medium;
  font-size: 1rem;
  vertical-align: top;
}

/* 1 Column */
.layout-Grids_Item {
  &:nth-of-type(n+2) {
    margin-top: $layout-grids-row-gap;
  }
}

/* 2 Columns */
.layout-Grids-col2 > .layout-Grids_Item {
  width: percentage(1 / 2);

  /**
   * いったんすべての`margin-top`をリセットします。
   * `:nth-of-type(n+1)`は1つ目以降のすべての要素に適応されます。
   * リセット後に対象となる要素に`margin-top`を指定します。
   */
  &:nth-of-type(n+1) {
    margin-top: 0;
  }
  &:nth-of-type(n+3) {
    margin-top: $layout-grids-row-gap;
  }
}
@include mq-up(md) {
  .layout-Grids-col2Md > .layout-Grids_Item {
    width: percentage(1 / 2);

    &:nth-of-type(n+1) {
      margin-top: 0;
    }
    &:nth-of-type(n+3) {
      margin-top: $layout-grids-row-gap;
    }
  }
}
@include mq-up(lg) {
  .layout-Grids-col2Lg > .layout-Grids_Item {
    width: percentage(1 / 2);

    &:nth-of-type(n+1) {
      margin-top: 0;
    }
    &:nth-of-type(n+3) {
      margin-top: $layout-grids-row-gap;
    }
  }
}
@include mq-up(xl) {
  .layout-Grids-col2Xl > .layout-Grids_Item {
    width: percentage(1 / 2);

    &:nth-of-type(n+1) {
      margin-top: 0;
    }
    &:nth-of-type(n+3) {
      margin-top: $layout-grids-row-gap;
    }
  }
}

/* 3 Columns */
.layout-Grids-col3 > .layout-Grids_Item {
  width: percentage(1 / 3);

  &:nth-of-type(n+1) {
    margin-top: 0;
  }
  &:nth-of-type(n+4) {
    margin-top: $layout-grids-row-gap;
  }
}
@include mq-up(md) {
  .layout-Grids-col3Md > .layout-Grids_Item {
    width: percentage(1 / 3);

    &:nth-of-type(n+1) {
      margin-top: 0;
    }
    &:nth-of-type(n+4) {
      margin-top: $layout-grids-row-gap;
    }
  }
}
@include mq-up(lg) {
  .layout-Grids-col3Lg > .layout-Grids_Item {
    width: percentage(1 / 3);

    &:nth-of-type(n+1) {
      margin-top: 0;
    }
    &:nth-of-type(n+4) {
      margin-top: $layout-grids-row-gap;
    }
  }
}
@include mq-up(xl) {
  .layout-Grids-col3Xl > .layout-Grids_Item {
    width: percentage(1 / 3);

    &:nth-of-type(n+1) {
      margin-top: 0;
    }
    &:nth-of-type(n+4) {
      margin-top: $layout-grids-row-gap;
    }
  }
}

/* 4 Columns */
.layout-Grids-col4 > .layout-Grids_Item {
  width: percentage(1 / 4);

  &:nth-of-type(n+1) {
    margin-top: 0;
  }
  &:nth-of-type(n+5) {
    margin-top: $layout-grids-row-gap;
  }
}
@include mq-up(md) {
  .layout-Grids-col4Md > .layout-Grids_Item {
    width: percentage(1 / 4);

    &:nth-of-type(n+1) {
      margin-top: 0;
    }
    &:nth-of-type(n+5) {
      margin-top: $layout-grids-row-gap;
    }
  }
}
@include mq-up(lg) {
  .layout-Grids-col4Lg > .layout-Grids_Item {
    width: percentage(1 / 4);

    &:nth-of-type(n+1) {
      margin-top: 0;
    }
    &:nth-of-type(n+5) {
      margin-top: $layout-grids-row-gap;
    }
  }
}
@include mq-up(xl) {
  .layout-Grids-col4Xl > .layout-Grids_Item {
    width: percentage(1 / 4);

    &:nth-of-type(n+1) {
      margin-top: 0;
    }
    &:nth-of-type(n+5) {
      margin-top: $layout-grids-row-gap;
    }
  }
}

/* 5 Columns */
.layout-Grids-col5 > .layout-Grids_Item {
  width: percentage(1 / 5);

  &:nth-of-type(n+1) {
    margin-top: 0;
  }
  &:nth-of-type(n+6) {
    margin-top: $layout-grids-row-gap;
  }
}
@include mq-up(md) {
  .layout-Grids-col5Md > .layout-Grids_Item {
    width: percentage(1 / 5);

    &:nth-of-type(n+1) {
      margin-top: 0;
    }
    &:nth-of-type(n+6) {
      margin-top: $layout-grids-row-gap;
    }
  }
}
@include mq-up(lg) {
  .layout-Grids-col5Lg > .layout-Grids_Item {
    width: percentage(1 / 5);

    &:nth-of-type(n+1) {
      margin-top: 0;
    }
    &:nth-of-type(n+6) {
      margin-top: $layout-grids-row-gap;
    }
  }
}
@include mq-up(xl) {
  .layout-Grids-col5Xl > .layout-Grids_Item {
    width: percentage(1 / 5);

    &:nth-of-type(n+1) {
      margin-top: 0;
    }
    &:nth-of-type(n+6) {
      margin-top: $layout-grids-row-gap;
    }
  }
}

/**
 * `.layout-Grids_Item`の表示順を逆にします。
 * A,B → B,A
 */
.layout-Grids-reverse {
  text-align: left;
  direction: rtl;

  & > .layout-Grids_Item {
    text-align: left;
    direction: ltr;
  }
}
@include mq-up(md) {
  .layout-Grids-reversMd {
    text-align: left;
    direction: rtl;

    & > .layout-Grids_Item {
      text-align: left;
      direction: ltr;
    }
  }
}
@include mq-up(lg) {
  .layout-Grids-reverseLg {
    text-align: left;
    direction: rtl;

    & > .layout-Grids_Item {
      text-align: left;
      direction: ltr;
    }
  }
}
@include mq-up(xl) {
  .layout-Grids-reverseXl {
    text-align: left;
    direction: rtl;

    & > .layout-Grids_Item {
      text-align: left;
      direction: ltr;
    }
  }
}

/* 8/12, 4/12 */
.layout-Grids-col8to4 > .layout-Grids_Item {
  &:nth-of-type(odd) {
    width: percentage(8 / 12);
  }

  &:nth-of-type(even) {
    width: percentage(4 / 12);
  }

  &:nth-of-type(n+1) {
    margin-top: 0;
  }
  &:nth-of-type(n+3) {
    margin-top: $layout-grids-row-gap;
  }
}
@include mq-up(md) {
  .layout-Grids-col8to4Md > .layout-Grids_Item {
    &:nth-of-type(odd) {
      width: percentage(8 / 12);
    }

    &:nth-of-type(even) {
      width: percentage(4 / 12);
    }

    &:nth-of-type(n+1) {
      margin-top: 0;
    }
    &:nth-of-type(n+3) {
      margin-top: $layout-grids-row-gap;
    }
  }
}
@include mq-up(lg) {
  .layout-Grids-col8to4Lg > .layout-Grids_Item {
    &:nth-of-type(odd) {
      width: percentage(8 / 12);
    }

    &:nth-of-type(even) {
      width: percentage(4 / 12);
    }

    &:nth-of-type(n+1) {
      margin-top: 0;
    }
    &:nth-of-type(n+3) {
      margin-top: $layout-grids-row-gap;
    }
  }
}
@include mq-up(xl) {
  .layout-Grids-col8to4Xl > .layout-Grids_Item {
    &:nth-of-type(odd) {
      width: percentage(8 / 12);
    }

    &:nth-of-type(even) {
      width: percentage(4 / 12);
    }

    &:nth-of-type(n+1) {
      margin-top: 0;
    }
    &:nth-of-type(n+3) {
      margin-top: $layout-grids-row-gap;
    }
  }
}

/* 7/12, 5/12 */
.layout-Grids-col7to5 > .layout-Grids_Item {
  &:nth-of-type(odd) {
    width: percentage(7 / 12);
  }

  &:nth-of-type(even) {
    width: percentage(5 / 12);
  }

  &:nth-of-type(n+1) {
    margin-top: 0;
  }
  &:nth-of-type(n+3) {
    margin-top: $layout-grids-row-gap;
  }
}
@include mq-up(md) {
  .layout-Grids-col7to5Md > .layout-Grids_Item {
    &:nth-of-type(odd) {
      width: percentage(7 / 12);
    }

    &:nth-of-type(even) {
      width: percentage(5 / 12);
    }

    &:nth-of-type(n+1) {
      margin-top: 0;
    }
    &:nth-of-type(n+3) {
      margin-top: $layout-grids-row-gap;
    }
  }
}
@include mq-up(lg) {
  .layout-Grids-col7to5Lg > .layout-Grids_Item {
    &:nth-of-type(odd) {
      width: percentage(7 / 12);
    }

    &:nth-of-type(even) {
      width: percentage(5 / 12);
    }

    &:nth-of-type(n+1) {
      margin-top: 0;
    }
    &:nth-of-type(n+3) {
      margin-top: $layout-grids-row-gap;
    }
  }
}
@include mq-up(xl) {
  .layout-Grids-col7to5Xl > .layout-Grids_Item {
    &:nth-of-type(odd) {
      width: percentage(7 / 12);
    }

    &:nth-of-type(even) {
      width: percentage(5 / 12);
    }

    &:nth-of-type(n+1) {
      margin-top: 0;
    }
    &:nth-of-type(n+3) {
      margin-top: $layout-grids-row-gap;
    }
  }
}

/* 9/12, 3/12 */
.layout-Grids-col9to3 > .layout-Grids_Item {
  &:nth-of-type(odd) {
    width: percentage(9 / 12);
  }

  &:nth-of-type(even) {
    width: percentage(3 / 12);
  }

  &:nth-of-type(n+1) {
    margin-top: 0;
  }
  &:nth-of-type(n+3) {
    margin-top: $layout-grids-row-gap;
  }
}
@include mq-up(md) {
  .layout-Grids-col9to3Md > .layout-Grids_Item {
    &:nth-of-type(odd) {
      width: percentage(9 / 12);
    }

    &:nth-of-type(even) {
      width: percentage(3 / 12);
    }

    &:nth-of-type(n+1) {
      margin-top: 0;
    }
    &:nth-of-type(n+3) {
      margin-top: $layout-grids-row-gap;
    }
  }
}
@include mq-up(lg) {
  .layout-Grids-col9to3Lg > .layout-Grids_Item {
    &:nth-of-type(odd) {
      width: percentage(9 / 12);
    }

    &:nth-of-type(even) {
      width: percentage(3 / 12);
    }

    &:nth-of-type(n+1) {
      margin-top: 0;
    }
    &:nth-of-type(n+3) {
      margin-top: $layout-grids-row-gap;
    }
  }
}
@include mq-up(xl) {
  .layout-Grids-col9to3Xl > .layout-Grids_Item {
    &:nth-of-type(odd) {
      width: percentage(9 / 12);
    }

    &:nth-of-type(even) {
      width: percentage(3 / 12);
    }

    &:nth-of-type(n+1) {
      margin-top: 0;
    }
    &:nth-of-type(n+3) {
      margin-top: $layout-grids-row-gap;
    }
  }
}
