 /* #Heading4
   -------------------------------------------------------------------------- */
/*
---
name: Heading4
category: Namespace
tag: Global
---

h4相当の見出し自身の余白を指定します。

```jade
h4.layout-Heading4 .layout-Heading4
p.layout-Text .layout-Text
p.layout-Text .layout-Text
```
*/
.layout-Heading4 {
  margin-bottom: 20px;
}
