 /* #Heading3
   -------------------------------------------------------------------------- */
/*
---
name: Heading3
category: Namespace
tag: Global
---

h2相当の見出し自身の余白を指定します。

```jade
h3.layout-Heading3 .layout-Heading3
p.layout-Text .layout-Text
p.layout-Text .layout-Text
```
*/
.layout-Heading3 {
  margin-bottom: 20px;
}
