 /* #Heading5
   -------------------------------------------------------------------------- */
/*
---
name: Heading5
category: Namespace
tag: Global
---

h5相当の見出し自身の余白を指定します。

```jade
h5.layout-Heading5 .layout-Heading5
p.layout-Text .layout-Text
p.layout-Text .layout-Text
```
*/
.layout-Heading5 {
  margin-bottom: 20px;
}
