 /* #Section5
   -------------------------------------------------------------------------- */
/*
---
name: Section5
category: Namespace
tag: Layout
---

h5相当の見出しをラップするセクションの余白を指定します。

```jade
p.layout-Text .layout-Text
section.layout-Section5
  h5.layout-Heading5 .layout-Heading5
  p.layout-Text .layout-Text
  p.layout-Text .layout-Text
section.layout-Section5
  h5.layout-Heading5 .layout-Heading5
  p.layout-Text .layout-Text
```
*/
.layout-Section5 {
  & + &,
  :not(#{&}) + & {
    margin-top: 30px;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
