 /* #Section4
   -------------------------------------------------------------------------- */
/*
---
name: Section4
category: Namespace
tag: Global
---

h4相当の見出しをラップするセクションの余白を指定します。

```jade
p.layout-Text .layout-Text
section.layout-Section4
  h4.layout-Heading4 .layout-Heading4
  p.layout-Text .layout-Text
  p.layout-Text .layout-Text
section.layout-Section4
  h4.layout-Heading4 .layout-Heading4
  p.layout-Text .layout-Text
```
*/
.layout-Section4 {
  & + &,
  :not(#{&}) + & {
    margin-top: 30px;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
