// システムフォント
$font-family-sans-serif: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif !default;
$font-family-serif: "Hiragino Mincho ProN", "HG明朝E", Meiryo, serif !default;
$font-family-en: "Helvetica Neue", Helvetica, sans-serif !default;
$font-family-zh-cn: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", sans-serif !default;
$font-family-zh-tw: "Microsoft JhengHei", "微軟正黑體", 'PMingLiU' sans-serif !default;

// Noto Sans
// GoogleやMicrosoftのCDNは中国ではブロックされてしまうので、
// フォントファイルをサーバに置いて読み込む必要があります。
$font-family-noto-sans-ja: "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif !default;
$font-family-noto-sans-en: "Noto Sans", "Helvetica Neue", Helvetica, sans-serif !default;
$font-family-noto-sans-zh-cn: "Noto Sans SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", sans-serif !default;
$font-family-noto-sans-zh-tw: "Noto Sans TC", "Microsoft JhengHei", "微軟正黑體", "PMingLiU" sans-serif !default;
