// default breakpoint
$default-breakpoint: 'lg' !default;

// default wrapper width
$max-width: 1080px !default;

// default grid columns
$column: 12 !default;

$font-size: (
  'sm': 14,
  'md': 16,
  'default': 16,
) !default;

$color-brand: #a48030 !default;
$color-text: #000;
$color-link: #2b70ba !default;
$color-link-hover: #2b70ba !default;

$font-size-secondary: 0.85em;

$font-famiry-serif: "Hiragino Mincho ProN", "游明朝", "YuMincho", "HG明朝E", Meiryo, serif !default;
$font-famiry-sans-serif: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif !default;

$opacity: 0.7 !default;

$form-border-radius: 3px;
$form-transition-duration: 0.3s;
$form-transition-property: border-color, box-shadow, background-color;
$form-placeholder-color: #767676;
$form-disabled-cursor: not-allowed;
$form-disabled-opacity: 0.5;
$form-disabled-background-color: #ddd;
