 /* #Iconfont
   -------------------------------------------------------------------------- */
/*doc
---
name: Icon List
category: IconList
tag: Icon
---

現在作成されているアイコンフォントの一覧です。


<ul class="aigis-iconfont__items">
  <li class="aigis-iconfont__item">
    <div class="aigis-iconfont__inner">
      <span class="aigis-iconfont__icon sw-Icon sw-Icon-linkDownload"></span>
      <code class="aigis-iconfont__name">.sw-Icon.sw-Icon-linkDownload</code>
    </div>
  </li>
  <li class="aigis-iconfont__item">
    <div class="aigis-iconfont__inner">
      <span class="aigis-iconfont__icon sw-Icon sw-Icon-linkExternal"></span>
      <code class="aigis-iconfont__name">.sw-Icon.sw-Icon-linkExternal</code>
    </div>
  </li>
  <li class="aigis-iconfont__item">
    <div class="aigis-iconfont__inner">
      <span class="aigis-iconfont__icon sw-Icon sw-Icon-linkMore"></span>
      <code class="aigis-iconfont__name">.sw-Icon.sw-Icon-linkMore</code>
    </div>
  </li>
  <li class="aigis-iconfont__item">
    <div class="aigis-iconfont__inner">
      <span class="aigis-iconfont__icon sw-Icon sw-Icon-linkPdf"></span>
      <code class="aigis-iconfont__name">.sw-Icon.sw-Icon-linkPdf</code>
    </div>
  </li>
</ul>
*/