p 注釈へのリンクです。
  code= `<sup>`
  | タグの子要素として指定します。

p.sw-Text ○○
  sup.sw-Sup
    a.sw-LinkNote(href="#") 1
  | を使っています。

p.sw-Text(lang="en") ○○
  sup.sw-Sup
    a.sw-LinkNote(href="#") 1
  | を使っています。
