p 外部リンクであることを示す場合に使います

p.sw-Text
  a.sw-Link(href="#") テキストリンクです。

p.sw-Text
  a.sw-LinkExternal(href="#")
    | 外部リンクを開く
    svg.sw-LinkExternal_Icon(role="img")
      use(xlink:href="/assets/svg/sprite.svg#external1")
