
p ファイルをダウンロードするためのリンクであることを示す場合に使います

p.sw-Text
  a.sw-Link(href="#") テキストリンクです。

p.sw-Text
  a.sw-LinkDownload(href="#")
    | ファイルをダウンロードする
    svg.sw-LinkDownload_Icon(role="img")
      use(xlink:href="/assets/svg/sprite.svg#download1")
