h2 なりゆき

div
  a.sw-Button.-auto(href="#") ボタンClick!
  button.sw-Button.-auto(type="button" disabled) ボタンClick!
  input.sw-Button.-auto(type="button" value="ボタンClick!")

h2 横幅100%

div
  a.sw-Button.-full(href="#") ボタンClick!
  button.sw-Button.-full(type="button" disabled) ボタンClick!
  input.sw-Button.-full(type="button" value="ボタンClick!")
