div
  a.sw-Button(href="#")
    span ボタンClick!
    svg.sw-Button_More(role="img")
      use(xlink:href="/assets/svg/sprite.svg#right-arrow1")

div
  a.sw-Button.-auto(href="#")
    span ボタンClick!
    svg.sw-Button_More(role="img")
      use(xlink:href="/assets/svg/sprite.svg#right-arrow1")

div
  a.sw-Button.-full(href="#")
    span ボタンClick!
    svg.sw-Button_More(role="img")
      use(xlink:href="/assets/svg/sprite.svg#right-arrow1")
