/*
---
name: inquiry-Grids
namespace: inquiry-
category: Form
---

`checkbox`や`radio`などをグリッドで均等に配置します。
1カラムから6カラムまでの指定が、ブレイクポイントごとにできます。

### 1カラム→2カラム→3カラム→4カラム

```jade
.l-Wrapper
  ul.inquiry-Grids.inquiry-Grids-col2Md.inquiry-Grids-col3Lg.inquiry-Grids-col4Xl
    li.inquiry-Grids_Item
      input.sw-FormCheckbox(type="checkbox" id="inquiry-Grids5" name="inquiry-Grids" value="0")
      label(for="inquiry-Grids5")
        svg(role="img")
          use(xlink:href="/assets/svg/sprite.svg#checkbox1")
        span チェックボックス1
    li.inquiry-Grids_Item
      input.sw-FormCheckbox(type="checkbox" id="inquiry-Grids6" name="inquiry-Grids" value="1")
      label(for="inquiry-Grids6")
        svg(role="img")
          use(xlink:href="/assets/svg/sprite.svg#checkbox1")
        span チェックボックス2
    li.inquiry-Grids_Item
      input.sw-FormCheckbox(type="checkbox" id="inquiry-Grids7" name="inquiry-Grids" value="2")
      label(for="inquiry-Grids7")
        svg(role="img")
          use(xlink:href="/assets/svg/sprite.svg#checkbox1")
        span チェックボックス3
    li.inquiry-Grids_Item
      input.sw-FormCheckbox(type="checkbox" id="inquiry-Grids8" name="inquiry-Grids" value="3")
      label(for="inquiry-Grids8")
        svg(role="img")
          use(xlink:href="/assets/svg/sprite.svg#checkbox1")
        span チェックボックス4
```
*/
$lnquiry-grids-column-gap: rem(10);
$lnquiry-grids-row-gap: rem(16);
$lnquiry-grids-column-gap-md: rem(10);
$lnquiry-grids-row-gap-md: rem(16);

.inquiry-Grids {
  -js-display: flex;
  display: flex;
  flex-wrap: wrap;
  margin-top: $lnquiry-grids-row-gap;
  margin-left: -$lnquiry-grids-column-gap;
  padding-left: 0;
  list-style-type: none;

  @include mq(md) {
    margin-top: $lnquiry-grids-row-gap-md;
    margin-left: -$lnquiry-grids-column-gap-md;
  }

  .sw-FormLabel + & {
    margin-top: 0;

    @include mq(md) {
      margin-top: 0;
    }
  }
}

.inquiry-Grids_Item {
  flex-basis: 100%;
  max-width: 100%;
  padding-left: $lnquiry-grids-column-gap;

  @include mq(md) {
    padding-left: $lnquiry-grids-column-gap-md;
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  /* 1 Column */
  &:nth-of-type(n + 2) {
    margin-top: $lnquiry-grids-row-gap;
  }
}

/* 2 Columns */
.inquiry-Grids-col2 > .inquiry-Grids_Item {
  flex-basis: percentage(1 / 2);
  max-width: percentage(1 / 2);

  /**
   * いったんすべての`margin-top`をリセットします。
   * `:nth-of-type(n+1)`は1つ目以降のすべての要素に適応されます。
   * リセット後に対象となる要素に`margin-top`を指定します。
   */
  &:nth-of-type(n + 1) {
    margin-top: 0;
  }

  &:nth-of-type(n + 3) {
    margin-top: $lnquiry-grids-row-gap;
  }
}

@include mq(md) {
  .inquiry-Grids-col2Md > .inquiry-Grids_Item {
    flex-basis: percentage(1 / 2);
    max-width: percentage(1 / 2);

    &:nth-of-type(n + 1) {
      margin-top: 0;
    }

    &:nth-of-type(n + 3) {
      margin-top: $lnquiry-grids-row-gap-md;
    }
  }
}

@include mq(lg) {
  .inquiry-Grids-col2Lg > .inquiry-Grids_Item {
    flex-basis: percentage(1 / 2);
    max-width: percentage(1 / 2);

    &:nth-of-type(n + 1) {
      margin-top: 0;
    }

    &:nth-of-type(n + 3) {
      margin-top: $lnquiry-grids-row-gap-md;
    }
  }
}

@include mq(xl) {
  .inquiry-Grids-col2Xl > .inquiry-Grids_Item {
    flex-basis: percentage(1 / 2);
    max-width: percentage(1 / 2);

    &:nth-of-type(n + 1) {
      margin-top: 0;
    }

    &:nth-of-type(n + 3) {
      margin-top: $lnquiry-grids-row-gap-md;
    }
  }
}

/* 3 Columns */
.inquiry-Grids-col3 > .inquiry-Grids_Item {
  flex-basis: percentage(1 / 3);
  max-width: percentage(1 / 3);

  &:nth-of-type(n + 1) {
    margin-top: 0;
  }

  &:nth-of-type(n + 4) {
    margin-top: $lnquiry-grids-row-gap;
  }
}

@include mq(md) {
  .inquiry-Grids-col3Md > .inquiry-Grids_Item {
    flex-basis: percentage(1 / 3);
    max-width: percentage(1 / 3);

    &:nth-of-type(n + 1) {
      margin-top: 0;
    }

    &:nth-of-type(n + 4) {
      margin-top: $lnquiry-grids-row-gap-md;
    }
  }
}

@include mq(lg) {
  .inquiry-Grids-col3Lg > .inquiry-Grids_Item {
    flex-basis: percentage(1 / 3);
    max-width: percentage(1 / 3);

    &:nth-of-type(n + 1) {
      margin-top: 0;
    }

    &:nth-of-type(n + 4) {
      margin-top: $lnquiry-grids-row-gap-md;
    }
  }
}

@include mq(xl) {
  .inquiry-Grids-col3Xl > .inquiry-Grids_Item {
    flex-basis: percentage(1 / 3);
    max-width: percentage(1 / 3);

    &:nth-of-type(n + 1) {
      margin-top: 0;
    }

    &:nth-of-type(n + 4) {
      margin-top: $lnquiry-grids-row-gap-md;
    }
  }
}

/* 4 Columns */
.inquiry-Grids-col4 > .inquiry-Grids_Item {
  flex-basis: percentage(1 / 3);
  max-width: percentage(1 / 4);

  &:nth-of-type(n + 1) {
    margin-top: 0;
  }

  &:nth-of-type(n + 5) {
    margin-top: $lnquiry-grids-row-gap;
  }
}

@include mq(md) {
  .inquiry-Grids-col4Md > .inquiry-Grids_Item {
    flex-basis: percentage(1 / 3);
    max-width: percentage(1 / 4);

    &:nth-of-type(n + 1) {
      margin-top: 0;
    }

    &:nth-of-type(n + 5) {
      margin-top: $lnquiry-grids-row-gap-md;
    }
  }
}

@include mq(lg) {
  .inquiry-Grids-col4Lg > .inquiry-Grids_Item {
    flex-basis: percentage(1 / 3);
    max-width: percentage(1 / 4);

    &:nth-of-type(n + 1) {
      margin-top: 0;
    }

    &:nth-of-type(n + 5) {
      margin-top: $lnquiry-grids-row-gap-md;
    }
  }
}

@include mq(xl) {
  .inquiry-Grids-col4Xl > .inquiry-Grids_Item {
    flex-basis: percentage(1 / 3);
    max-width: percentage(1 / 4);

    &:nth-of-type(n + 1) {
      margin-top: 0;
    }

    &:nth-of-type(n + 5) {
      margin-top: $lnquiry-grids-row-gap-md;
    }
  }
}

/* 5 Columns */
.inquiry-Grids-col5 > .inquiry-Grids_Item {
  flex-basis: percentage(1 / 5);
  max-width: percentage(1 / 5);

  &:nth-of-type(n + 1) {
    margin-top: 0;
  }

  &:nth-of-type(n + 6) {
    margin-top: $lnquiry-grids-row-gap;
  }
}

@include mq(md) {
  .inquiry-Grids-col5Md > .inquiry-Grids_Item {
    flex-basis: percentage(1 / 5);
    max-width: percentage(1 / 5);

    &:nth-of-type(n + 1) {
      margin-top: 0;
    }

    &:nth-of-type(n + 6) {
      margin-top: $lnquiry-grids-row-gap-md;
    }
  }
}

@include mq(lg) {
  .inquiry-Grids-col5Lg > .inquiry-Grids_Item {
    flex-basis: percentage(1 / 5);
    max-width: percentage(1 / 5);

    &:nth-of-type(n + 1) {
      margin-top: 0;
    }

    &:nth-of-type(n + 6) {
      margin-top: $lnquiry-grids-row-gap-md;
    }
  }
}

@include mq(xl) {
  .inquiry-Grids-col5Xl > .inquiry-Grids_Item {
    max-width: percentage(1 / 5);

    &:nth-of-type(n + 1) {
      margin-top: 0;
    }

    &:nth-of-type(n + 6) {
      margin-top: $lnquiry-grids-row-gap-md;
    }
  }
}

/* 6 Columns */
.inquiry-Grids-col6 > .inquiry-Grids_Item {
  flex-basis: percentage(1 / 6);
  max-width: percentage(1 / 6);

  &:nth-of-type(n + 1) {
    margin-top: 0;
  }

  &:nth-of-type(n + 7) {
    margin-top: $lnquiry-grids-row-gap;
  }
}

@include mq(md) {
  .inquiry-Grids-col6Md > .inquiry-Grids_Item {
    flex-basis: percentage(1 / 6);
    max-width: percentage(1 / 6);

    &:nth-of-type(n + 1) {
      margin-top: 0;
    }

    &:nth-of-type(n + 7) {
      margin-top: $lnquiry-grids-row-gap-md;
    }
  }
}

@include mq(lg) {
  .inquiry-Grids-col6Lg > .inquiry-Grids_Item {
    flex-basis: percentage(1 / 6);
    max-width: percentage(1 / 6);

    &:nth-of-type(n + 1) {
      margin-top: 0;
    }

    &:nth-of-type(n + 7) {
      margin-top: $lnquiry-grids-row-gap-md;
    }
  }
}

@include mq(xl) {
  .inquiry-Grids-col6Xl > .inquiry-Grids_Item {
    flex-basis: percentage(1 / 6);
    max-width: percentage(1 / 6);

    &:nth-of-type(n + 1) {
      margin-top: 0;
    }

    &:nth-of-type(n + 7) {
      margin-top: $lnquiry-grids-row-gap-md;
    }
  }
}
