label.sw-FormLabel(for="form-label1") 名前
input.sw-FormInput(id="form-label1" type="text" name="name" autocomplete="name" placeholder="例）山田 太郎")


.l-Block
  label.sw-FormLabel(for="form-label2")
    | 名前
    em.sw-FormLabel_RequireA （必須）
  input.sw-FormInput(id="form-label2" type="text" name="name" autocomplete="name" placeholder="例）山田 太郎")

.l-Block
  label.sw-FormLabel(for="form-label3")
    | 名前
    em.sw-FormLabel_RequireB 必須
  input.sw-FormInput(id="form-label3" type="text" name="name" autocomplete="name" placeholder="例）山田 太郎")

.l-Block
  label.sw-FormLabel(for="form-label4")
    | 名前
    em.sw-FormLabel_RequireB 必須
    small.sw-FormLabel_Note 入力時の注意事項
  input.sw-FormInput(id="form-label4" type="text" name="name" autocomplete="name" placeholder="例）山田 太郎")
