.st-Breadcrumb {
}

.st-Breadcrumb_List {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
}

.st-Breadcrumb_Item {
  &:not(:first-of-type)::before {
    content: "/";
    margin: 0 rem(8);
  }
}

.st-Breadcrumb_Link {
  @include sw-Link();

  display: inline-block;

  &[aria-current="page"] {
    text-decoration: none;
    color: $color-text;
    pointer-events: none;
  }
}
