/*
---
name: st-Heading2
namespace: Structure
category: Layout
---

h2相当の見出し自身の余白を指定します。

```jade
.st-Wrapper
  h2.st-Heading2 .st-Heading2
  p.st-Text .st-Text
  p.st-Text .st-Text
```
*/
.st-Heading2 {
  margin-bottom: $margin-heading2;

  @include mq-up(md) {
    margin-bottom: $margin-heading2-md;
  }
}
