/*
---
name: st-Heading5
namespace: Structure
category: Layout
---

h5相当の見出し自身の余白を指定します。

```jade
.st-Wrapper
  h5.st-Heading5.sw-Heading5 .st-Heading5
  p.st-Text.sw-Text しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。
  p.st-Text.sw-Text しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。
```
*/
.st-Heading5 {
  margin-bottom: $margin-heading5;

  @include mq-up(md) {
    margin-bottom: $margin-heading5-md;
  }
}
