/*
---
name: st-Lead
namespace: Structure
category: Layout
---

リード文自身の余白を指定します。

```jade
.st-Wrapper
  p.st-Lead
    b.sw-Lead .st-Lead
  p.st-Text .st-Text
  p.st-Text .st-Text
```
*/
.st-Lead {
  margin-bottom: $margin-lead;

  @include mq-up(md) {
    margin-bottom: $margin-lead-md;
  }
}
