/*
---
name: st-Section5
namespace: Structure
category: Layout
---

h5相当の見出しをラップするセクションの余白を指定します。

```jade
.st-Wrapper
  section.st-Section4
    h4.st-Heading4.sw-Heading4 しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。
    p.st-Text.sw-Text この書生というのは時々我々を捕えて煮て食うという話である。
    p.st-Text.sw-Text しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。
  section.st-Section4
    h4.st-Heading4.sw-Heading4 p.st-Text.sw-Text どこで生れたかとんと見当がつかぬ。

    section.st-Section5
      h5.st-Heading5.sw-Heading5 吾輩は猫である。名前はまだ無い。
      p.st-Text.sw-Text 何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。
    section.st-Section5
      h5.st-Heading5.sw-Heading5 どこで生れたかとんと見当がつかぬ。
      p.st-Text.sw-Text 何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。
```
*/
.st-Section5 {
  & + &,
  :not(#{&}) + & {
    margin-top: $margin-section5;

    @include mq-up(md) {
      margin-top: $margin-section5-md;
    }
  }

  .st-Heading4 + & {
    margin-top: ($margin-section5 / 2);

    @include mq-up(md) {
      margin-top: ($margin-section5-md / 2);
    }
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
