/*
---
name: Section2
namespace: Structure
category: Layout
---

h2相当の見出しをラップするセクションの余白を指定します。

```jade
p.st-Text 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。

section.st-Section2
  h2.st-Heading2 吾輩はここで始めて人間というものを見た。
  p.st-Text しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。
  p.st-Text しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。

section.st-Section2
  h2.st-Heading2 第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。
  .st-Block
    p.test-Box .st-Block
  .st-Block
    p.test-Box .st-Block
  p.st-Text その後猫にもだいぶ逢ったがこんな片輪には一度も出会わした事がない。のみならず顔の真中があまりに突起している。
```
*/
.st-Section2 {
  & + &,
  :not(#{&}) + & {
    margin-top: $margin-section2;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
