/*
---
name: st-Section2
namespace: Structure
category: Layout
---

h2相当の見出しをラップするセクションの余白を指定します。

```jade
.st-Wrapper
  p.st-Text 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。

  section.st-Section2
    h2.st-Heading2 吾輩はここで始めて人間というものを見た。
    p.st-Text しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。
    p.st-Text しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。

  section.st-Section2
    h2.st-Heading2 第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。
    .st-Block
      .test-Block
        .test-Block_Left
          img(src="https://placehold.jp/300x200.png" alt)
        .test-Block_Right
          h3 ダミーの見出しです
          p ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。
    .st-Block
      .test-Block
        .test-Block_Left
          img(src="https://placehold.jp/300x200.png" alt)
        .test-Block_Right
          h3 ダミーの見出しです
          p ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。
    p.st-Text その後猫にもだいぶ逢ったがこんな片輪には一度も出会わした事がない。のみならず顔の真中があまりに突起している。
```

レイアウト例です。`.st-Section2-divider`を追加すると`.st-Section2`同士の間にボーダーがつきます。

```jade
.st-Wrapper
  p.st-Text 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。

  section.st-Section2.st-Section2-divider
    h2.st-Heading2 吾輩はここで始めて人間というものを見た。
    p.st-Text しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。
    p.st-Text しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。

  section.st-Section2.st-Section2-divider
    h2.st-Heading2 第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。
    .st-Block
      .test-Block
        .test-Block_Left
          img(src="https://placehold.jp/300x200.png" alt)
        .test-Block_Right
          h3 ダミーの見出しです
          p ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。
    .st-Block
      .test-Block
        .test-Block_Left
          img(src="https://placehold.jp/300x200.png" alt)
        .test-Block_Right
          h3 ダミーの見出しです
          p ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。
    p.st-Text その後猫にもだいぶ逢ったがこんな片輪には一度も出会わした事がない。のみならず顔の真中があまりに突起している。
```

レイアウト例です。`.st-Section2-dividerFull`を追加すると`.st-Section2`同士の間にボーダーがつきます。ボーダーの横幅は画面に対して常に100%（`100vw`）になります。

```jade
.st-Wrapper
  p.st-Text 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。

  section.st-Section2.st-Section2-dividerFull
    h2.st-Heading2 吾輩はここで始めて人間というものを見た。
    p.st-Text しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。
    p.st-Text しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。

  section.st-Section2.st-Section2-dividerFull
    h2.st-Heading2 第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。
    .st-Block
      .test-Block
        .test-Block_Left
          img(src="https://placehold.jp/300x200.png" alt)
        .test-Block_Right
          h3 ダミーの見出しです
          p ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。
    .st-Block
      .test-Block
        .test-Block_Left
          img(src="https://placehold.jp/300x200.png" alt)
        .test-Block_Right
          h3 ダミーの見出しです
          p ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。
    p.st-Text その後猫にもだいぶ逢ったがこんな片輪には一度も出会わした事がない。のみならず顔の真中があまりに突起している。
```
*/
.st-Section2 {
  & + &,
  :not(#{&}) + & {
    margin-top: $margin-section2;

    @include mq-up(md) {
      margin-top: $margin-section2-md;
    }
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.st-Section2-divider {
  & + &,
  :not(#{&}) + & {
    margin-top: $margin-section2-divider;

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      padding-top: $margin-section2-divider;
      border-top: 1px solid #e3e3e3;
    }

    @include mq-up(md) {
      margin-top: $margin-section2-divider-md;

      &:before {
        padding-top: $margin-section2-divider-md;
      }
    }
  }
}

.st-Section2-dividerFull {
  & + &,
  :not(#{&}) + & {
    margin-top: $margin-section2-divider;

    &:before {
      content: "";
      display: block;
      height: 1px;
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
      padding-top: $margin-section2-divider;
      border-top: 1px solid #e3e3e3;
    }

    @include mq-up(md) {
      margin-top: $margin-section2-divider-md;

      &:before {
        padding-top: $margin-section2-divider-md;
      }
    }
  }
}
