extend /_template/_default
append variables
  //- 変更可能
  - var pageTitle= "";
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  //- 任意
  - var pageOgpTitle= pageTitle;
  - var pageOgpImage= site.ogpImage;
  - var pageLang= "ja";
  - var pageOgpType= "website";

//- 個別CSSファイルの読み込み（相対パス）
block append css
  //- link(rel="stylesheet" href="css/index.css")
//- 個別JSファイルの読み込み（相対パス）
block append js
  //- script(src="js/index.js")

block content
  .js-tabs
    ul.js-tabs-list
      li.js-tabs-item
        a.js-tabs-link リンク1
      li.js-tabs-item
        a.js-tabs-link リンク2
      li.js-tabs-item
        a.js-tabs-link リンク3
    .js-tabs-content
      p コンテンツ1
    .js-tabs-content
      p コンテンツ2
    .js-tabs-content
      p コンテンツ3

  dl.js-accordion
    dt
      button.js-accordion-tab(type="button") ボタン1
    dd.js-accordion-panel
      p パネル1
    dt
      button.js-accordion-tab(type="button") ボタン1
    dd.js-accordion-panel
      p パネル1
