@mixin sw-Heading3() {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  font-size: rem(16);
  font-weight: bold;
  line-height: 1.4;
  border-left: 5px solid #be3134;

  @include mq-up(md) {
    padding-left: 13px;
    font-size: rem(20, md);
    border-left: 6px solid #be3134;
  }
}
