ul
  li 横幅の広いテーブルで使用します。
  li テキストは自動的に改行されず、画面幅に収まりきらなくなると横スクロールで表示するようになります。
  li 改行は
    code= `<br>`
    | で指定してください。

.sw-TableWide
  table.sw-Table
    thead
      tr
        th(scope="col") thead Table Header
        th(scope="col") thead Table Header
        th(scope="col") thead Table Header
        th(scope="col") thead Table Header
    tbody
      tr
        th(scope="row") tbody Table Header
        td tbody Table Data
        td tbody Table Data
        td tbody Table Data
      tr
        th(scope="row") tbody Table Header
        td tbody Table Data
        td tbody Table Data
        td tbody Table Data
      tr
        th(scope="row") tbody Table Header
        td tbody Table Data
        td tbody Table Data
        td tbody Table Data
