fieldset
  legend.sw-FormLabel チェックボックス

  input.sw-FormCheckbox(type="checkbox" id="checkbox5" name="checkbox5" value="0" disabled)
  label(for="checkbox5")
    svg(role="img")
      use(xlink:href="/assets/svg/sprite.svg#checkbox1")
    span チェックボックス5
