fieldset
  legend.sw-FormLabel チェックボックス

  input.sw-FormCheckbox(type="checkbox" id="checkbox1" name="checkbox1" value="0")
  label(for="checkbox1")
    svg(role="img")
      use(xlink:href="/assets/svg/sprite.svg#checkbox1")
    span チェックボックス1

  input.sw-FormCheckbox(type="checkbox" id="checkbox2" name="checkbox1" value="1")
  label(for="checkbox2")
    svg(role="img")
      use(xlink:href="/assets/svg/sprite.svg#checkbox1")
    span チェックボックス2チェックボックス2チェックボックス2
