// @desc - pxをremに変換します。
// @param {Number} $px - 指定するピクセル値。
// @param {Number} $parent [16] - 親要素のピクセル値。
// @example - rem(20) => 1.25rem
// @example - rem(20, 15) => 1.33333rem
@function rem($px, $parent: 16) {
  @return (strip-unit($px) / strip-unit($parent)) * 1rem;
}
