/**
 * Layout
 */
.aigis-container {
  box-sizing: border-box;
  width: auto;
  margin-right: auto;
}

.aigis-contents {
  box-sizing: border-box;
  margin: 0 auto;
}

.aigis-contents__body {
  margin: 0 auto;
  padding: 20px 1rem;
}
.aigis-contents__body > *:first-child {
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .aigis-contents__body {
    margin-left: 1rem;
    padding-left: 220px;
  }
}

.aigis-sidemenu {
  overflow-x: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  height: 100%;
  color: #33331a;
  background-color: #f9faf9;
}
@media screen and (min-width: 768px) {
  .aigis-sidemenu {
    position: fixed;
    width: 220px;
  }
}

/**
 * Contents
 */
.aigis-contents__body > ul {
  font-size: 16px;
}
.aigis-contents__body > ul > li {
  margin-bottom: 0.5em;
}
.aigis-contents__body > p {
  margin-bottom: 1em;
}
.aigis-contents__body > h2 {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eee;
  font-size: 1.75em;
  line-height: 1.225;
}
.aigis-contents__body > h2:not(:first-child) {
  margin-top: 2rem;
}
.aigis-contents__body > h3 {
  font-size: 24px;
}

.aigis-module__heading {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eee;
  font-size: 1.75em;
  line-height: 1.225;
}
.aigis-module__heading:hover a {
  position: relative;
}
.aigis-module__heading:hover a:before {
  content: "\00a7";
  position: absolute;
  right: 100%;
  bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  color: #000;
  font-size: 20px;
}

.aigis-moduleList {
  display: block;
  margin-left: -2rem;
  margin-bottom: 4rem;
  padding-left: 0;
  line-height: 1.6;
  font-size: 0;
  list-style-type: none;
}
.aigis-moduleList__item {
  width: 50%;
  display: inline-block;
  margin-bottom: 1rem;
  padding-left: 2rem;
  vertical-align: top;
  font-size: 0.85rem;
}
@media screen and (min-width: 768px) {
  .aigis-moduleList__item {
    width: 33.333333%;
  }
}
@media screen and (min-width: 1000px) {
  .aigis-moduleList__item {
    width: 25%;
  }
}
.aigis-moduleList__item a {
  display: block;
  padding: 0.5em 1em;
  color: #08f;
  border: 1px solid currentColor;
  text-decoration: none;
}
.aigis-moduleList__item a:hover {
  color: #fff;
  background-color: #08f;
  border-color: #08f;
  text-decoration: none;
}

.aigis-module:not(:last-of-type) {
  margin-bottom: 4em;
}

.aigis-module > pre .token.operator,
.aigis-module > pre .token.entity,
.aigis-module > pre .token.url,
.aigis-module > pre .language-css .token.string,
.aigis-module > pre .style .token.string {
  background: transparent;
}
.aigis-module > pre {
  overflow: scroll;
  position: relative;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #9e9e9e;
  border-radius: 3px;
  color: #f8f8f2;
  font-size: 0.9rem;
  background-color: #f0f0f0;
}

.aigis-module > pre:not(:last-child) {
  margin-bottom: 1.6em;
}

.aigis-module > p:not(:last-child),
.aigis-module > ul:not(:last-child),
.aigis-module > ol:not(:last-child) {
  margin-bottom: 1.6em;
}

.aigis-module > ul > li {
  margin-bottom: 0.5em;
}

.aigis-module > ul code,
.aigis-module > p code,
.aigis-contents__body > ul code,
.aigis-contents__body > p code,
.aigis-contents__body > h2 code,
.aigis-contents__body > h3 code {
  position: relative;
  top: -0.1em;
  padding: 0.2em;
  border-radius: 3px;
  font-size: 0.85rem;
  background-color: rgba(0, 0, 0, 0.06);
}

.aigis-module > h3 {
  margin-top: 1.6em;
  margin-bottom: 0.7em;
}

.aigis-module > h4 {
  margin-top: 1.6em;
  margin-bottom: 0.7em;
}

.aigis-module__filepath {
  display: block;
  margin-top: -2em;
  color: #888;
  font-size: 12px;
}

.aigis-codeblock,
.aigis-preview {
  overflow: scroll;
  position: relative;
  margin: 0;
}
.aigis-preview {
  margin: 0;
  margin-top: 1rem;
  padding: 20px 10px;
  padding: 1rem;
  border: 1px solid #9e9e9e;
  border-radius: 3px;
  border-radius: 3px 3px 0 0;
}
.aigis-preview + pre {
  margin-top: 0;
  border-top: none;
  border-radius: 0 0 3px 3px;
}

.aigis-iconfont__items {
  margin: 0;
  margin-left: -0.5em;
  padding: 0;
  font-size: 0;
}
.aigis-iconfont__item {
  display: inline-block;
  width: 50%;
  margin-bottom: 0.5em;
  padding-left: 0.5em;
  vertical-align: top;
  font-size: 1rem;
  background: #fff;
}
.aigis-iconfont__inner {
  padding: 1em;
  text-align: center;
}
.aigis-iconfont__icon {
  font-size: 2em;
}
.aigis-iconfont__name {
  display: block;
  background-color: #fff;
}
@media screen and (min-width: 1000px) {
  .aigis-iconfont__item {
    width: 20%;
  }
}

/**
 * Sidebar
 */
.aigis-header {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 10px;
  color: #33331a;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5em;
}
.aigis-header a {
  color: inherit;
  text-decoration: none;
}

.ex-ag-btn {
  display: inline-block;
  box-sizing: border-box;
  min-width: 200px;
  padding: 10px 20px;
  border: none;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  background-color: #3db680;
  -webkit-appearance: none;
}
.ex-ag-btn--primary {
  color: black;
  background-color: #ffea3a;
}

.aigis-sidemenu__heading {
  margin: 12px 0;
  padding-left: 10px;
  color: #33331a;
  font-size: 20px;
  font-weight: normal;
  line-height: 1em;
}
.aigis-sidemenu__heading + .aigis-sidemenu__heading {
  margin-top: 22px;
}
.aigis-sidemenu__heading a {
  color: inherit;
  text-decoration: none;
}

.aigis-preview .aigis-sidemenu {
  position: relative;
}

.aigis-categoryList ul {
  padding: 3px 10px;
  font-size: 14px;
}
.aigis-categoryList li a {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 3px 10px 3px 10px;
  border-radius: 0;
  color: #454545;
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
  outline: none;
}

.aigis-categoryList li:hover a[href]:hover {
  color: #fff;
  background-color: #5d5d5d;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.aigis-categoryList li[data-path-depth] a:before {
  content: "└";
  margin-right: 10px;
}
.aigis-categoryList li[data-path-depth="1"] a:before {
  margin-left: 1em;
}
.aigis-categoryList li[data-path-depth="2"] a:before {
  margin-left: 2em;
}
.aigis-categoryList li[data-path-depth="3"] a:before {
  margin-left: 3em;
}
.aigis-categoryList li[data-path-depth="4"] a:before {
  margin-left: 4em;
}
.aigis-categoryList li[data-path-depth] [data-tree-current] {
  color: #fff;
  background-color: #8c8c8c;
}

.aigis-tags  {
  margin: 0;
  padding: 10px;
  padding-left: 0;
}
.aigis-tags ul {
  padding-left: 0;
  list-style-type: none;
}
.aigis-tags li {
  display: inline-block;
  font-size: 0;
}
.aigis-tags a,
.aigis-tags li {
  display: inline-block;
  margin: 5px 0;
  margin-right: 5px;
  padding: 3px 10px;
  border: 1px solid #888;
  color: currentColor;
  font-size: 12px;
  text-decoration: none;
  background-color: transparent;
}
.aigis-tags a:hover {
  color: #fff;
  background-color: #5d5d5d;
}
.aigis-tags li[data-path-depth] [data-tree-current] {
  color: #fff;
  background-color: #8c8c8c;
}
.aigis-tags.aigis-tagList {
  padding-top: 0;
  padding-left: 10px;
}

.aigis-colorPalette {
  margin-top: 5px;
}
.aigis-colorPalette__color {
  display: inline-block;
  width: 20%;
  height: 40px;
  vertical-align: middle;
}
.aigis-colorPalette__label {
  display: inline-block;
  line-height: 80px;
  padding-left: 1em;
  vertical-align: middle;
  font-family: Consolas, Menlo, Courier, monospace;
}

/**
 * Footer
 */
.aigis-footer {
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
  color: #7a7a7a;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
}
