 /* #Button
   -------------------------------------------------------------------------- */
/*doc
---
name: Button
category: SiteWide
tag: [Button, Link, Form]
---

ボタンのデフォルトスタイルです。

```jade
a.sw-Button(href="#") aタグボタン
a.sw-Button.sw-Button-disabled(href="#") aタグボタン
button.sw-Button(type="button") butotnタグボタン
button.sw-Button(disabled type="button") butotnタグボタン
input.sw-Button(type="button" value="inputボタン")
input.sw-Button(type="button" value="inputボタン" disabled)
```

`sw-Button()`mixinで他のボタンにもスタイルを継承することができます。

```scss
.AnotherButton {
  @include sw-Button();
}
```
*/
@mixin sw-Button() {
  display: inline-block;
  margin: 0;
  padding: 0.75em 2em;
  border: none;
  border: 1px solid #d0d0d0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background: transparent;
  background-color: #fff;
  appearance: none;
  cursor: pointer;

  @include on-event() {
    text-decoration: none;
  }

  &:focus {
    outline: 0;
    box-shadow: $form-focus-box-shadow;
  }

  &:disabled,
  &-disabled {
    opacity: $form-disabled-opacity;
    border-color: $form-disabled-background-color;
    background-color: $form-disabled-background-color;
    cursor: $form-disabled-cursor;
  }
  &-disabled {
    pointer-events: none;
  }
}
.sw-Button {
  @include sw-Button;
}
