 /* #FormInput
   -------------------------------------------------------------------------- */
/*doc
---
name: FormInput
category: SiteWide
tag: Form
---

`<input>`タグのデフォルトスタイルです。

```ejs
<div>
  <input class="sw-FormInput" type="input" placeholder="デフォルト" />
</div>

<div>
  <label class="sw-FormInput_TextTop" for="input1">inputタグの説明です
  <input class="sw-FormInput" type="input" name="email" autocomplete="email" id="input1" placeholder="example@gmail.com" />
</div>

<div>
  <input class="sw-FormInput" type="input" name="name" autocomplate="name" id="input2" placeholder="山田 太郎" />
  <label class="sw-FormInput_TextBottom" for="input2">inputタグの説明です
</div>

<div>
  <input disabled class="sw-FormInput" type="input" placeholder="disabled"/ >
</div>
```
*/
.sw-FormInput {
  width: 100%;
  height: 2.5em;
  padding: 0 1em;
  font-size: 1em;
  vertical-align: middle;
  border: 1px solid #d0d0d0;
  background-color: #fff;
  box-shadow:1px 1px 6px -3px #9e9e9e inset;
  border-radius: $form-border-radius;
  appearance: none;

  &::placeholder {
    color: $form-placeholder-color;
  }

  &:focus {
  }

  &:disabled {
    cursor: $form-disabled-cursor;
    opacity: $form-disabled-opacity;
    background-color: $form-disabled-background-color;
  }
}

.sw-FormInput_TextTop {
  display: inline-block;
  margin-bottom: 0.25em;
}

.sw-FormInput_TextBottom {
  display: inline-block;
  margin-top: 0.25em;
}
