 /* #FormCheckbox
   -------------------------------------------------------------------------- */
/*doc
---
name: FormCheckbox
category: SiteWide
tag: Form
---

`type="checkbox"`のデフォルトスタイルです。

```jade
input.sw-FormCheckbox(type="checkbox" id="checkbox1" checked)
label(for="checkbox1") チェックボックス

input.sw-FormCheckbox(type="checkbox" id="checkbox2")
label(for="checkbox2") チェックボックス

input.sw-FormCheckbox(disabled type="checkbox" id="checkbox3")
label(disabled for="checkbox3") チェックボックス
```
*/
.sw-FormCheckbox {
  /* デフォルトのチェックボックスを非表示にする。 */
  @include sr-only();

  & + label {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  & + label:before {
    content: "";
    display: inline-block;
    $size: 1em;
    width: $size;
    height: $size;
    margin-right: 0.25em;
    vertical-align: text-bottom;
    background-image: url("/assets/img/SiteWide/Icon/FormCheckbox_off.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:focus + label:before {
    border-color: $form-focus-border-color;
    box-shadow: $form-focus-box-shadow;
  }

  &:checked + label:before {
    content: "";
    background-image: url("/assets/img/SiteWide/Icon/FormCheckbox_on.svg");
    background-repeat: no-repeat;
  }

  &:disabled,
  & + label[disabled] {
    cursor: $form-disabled-cursor;
    opacity: $form-disabled-opacity;
  }
}
