 /* #FormRadio
   -------------------------------------------------------------------------- */
/*doc
---
name: FormRadio
category: SiteWide
tag: Form
---

`type="radio"`のデフォルトスタイルです。

```jade
input.sw-FormRadio(type="radio" id="radio1" name="radio1" checked)
label(for="radio1") ラジオボタン
input.sw-FormRadio(type="radio" id="radio2" name="radio1")
label(for="radio2") ラジオボタン

input.sw-FormRadio(disabled type="radio" id="radio3" name="radio2")
label(disabled for="radio2") ラジオボタン
```
*/
.sw-FormRadio {
  /* デフォルトのラジオボタンを非表示にする。 */
  @include sr-only();

  & + label {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  & + label:before {
    $size: 1em;
    content: "";
    width: $size;
    height: $size;
    display: inline-block;
    margin-right: 0.25em;
    vertical-align: text-bottom;;
    background-image: url("/assets/img/SiteWide/Icon/FormRadio_off.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:focus + label:before {
    border-color: $form-focus-border-color;
    border-radius: 50%;
    box-shadow: $form-focus-box-shadow;
  }

  &:checked + label:before {
    background-image: url("/assets/img/SiteWide/Icon/FormRadio_on.svg");
  }

  &:disabled,
  & + label[disabled] {
    cursor: $form-disabled-cursor;
    opacity: $form-disabled-opacity;
  }
}
