 /* #Icon
   -------------------------------------------------------------------------- */
/*doc
---
name: Icon
category: SiteWide
tag: Icon
---

アイコンフォントを使ったアイコンを表示します。デフォルトでは`:before`擬似要素で表示されます。

```jade
p More
  span.sw-Icon.sw-Icon-linkMore(aria-hidden="true")
```
*/
@font-face {
  font-family: "iconfont";
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('eot'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

// アイコンフォントのベーススタイルです。
@mixin icon {
  font-family: "iconfont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  top: -0.1em;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: none;
  text-transform: none;
  speak: none;
}

// アイコンフォントを`content: "";`で表示できるように変数化しています。
// インターポレーション（`#{}`）の中に入れる必要があります。
// example: content: "#{$icon-LinkMore}";
$icon-linkDownload: "\EA01" !default;
$icon-linkExternal: "\EA02" !default;
$icon-linkMore: "\EA03" !default;
$icon-linkPdf: "\EA04" !default;


/* 汎用的なアイコンフォントです。 */
.sw-Icon { display: inline-block; }
.sw-Icon:before { @include icon; }

.sw-Icon-linkDownload:before { content: "\EA01"; }
.sw-Icon-linkExternal:before { content: "\EA02"; }
.sw-Icon-linkMore:before { content: "\EA03"; }
.sw-Icon-linkPdf:before { content: "\EA04"; }


