 /* #LinkMore
   -------------------------------------------------------------------------- */
/*doc
---
name: LinkMore
category: SiteWide
tag: Link
---

クリックを促すようなテキストリンクに使います。

```ejs
<p><a class="sw-Link" href="#">テキストリンクです。</a></p>
<p><a class="sw-LinkMore" href="#">詳しく見る<span class="sw-LinkMore_Icon" aria-hidden="true"></span></a></p>
```
*/
.sw-LinkMore {
  color: $color-link;
  text-decoration: none;

  &:hover {
    color: $color-link-hover;
    text-decoration: underline;
  }
}

.sw-LinkMore_Icon:after {
  @include icon;
  content: "#{$icon-linkMore}";
  top: -0.1em;
  left: 0.25em;
  font-size: 0.8em;
}
