 /* #Link
   -------------------------------------------------------------------------- */
/*doc
---
name: Link
category: SiteWide
tag: Link
---

テキストリンクのデフォルトスタイルです。

```jade
p
  a.sw-Link(href="#") テキストリンクです。
```
*/
.sw-Link {
  color: $color-link;
  text-decoration: underline;

  &:hover {
    color: $color-link-hover;
    text-decoration: underline;
  }
}
