 /* #ListOrder
   -------------------------------------------------------------------------- */
/*doc
---
name: ListOrder
category: SiteWide
tag: List
---

入れ子に対応した順序リストです。

```ejs
<ol class="sw-ListOrder">
  <li>リストです。</li>
  <li>リストです。
    <ol>
      <li>リストです。</li>
      <li>リストです。</li>
    </ol>
  </li>
</ol>
```
*/
.sw-ListOrder {
  display: table;
  padding-left: 0;
  list-style-type: none;

  li {
    display: table-row;
    counter-increment: order;
  }

  li:before {
    content: counters(order, "-") ".";
    display: table-cell;
    padding-right: 0.5em;
    text-align: right;
  }

  ol {
    counter-reset: order;
    padding-left: 0;
    list-style-type: none;
  }
}
