 /* #Home
   -------------------------------------------------------------------------- */
/*
---
name: Home
category: Structure
tag: Layout
---

サイトトップページ（ホームページ）のワイヤーフレームのような大枠のレイアウトです。

```jade
```
*/
.st-Home {}
