 /* #Top
   -------------------------------------------------------------------------- */
/*
---
name: Top
category: Structure
tag: Layout
---

カテゴリートップページのワイヤーフレームのような大枠のレイアウトです。

```jade
```
*/
.st-Top {}
