extend /_template/ja/_default
append variables
  //- 変更可能
  - var pageTitle= "About Page";
  - var pageDescription= 'About Page Description';
  - var pageKeywords= 'About Page Keyword1, About Page Keyword2';
  //- 任意
  - var pageOgpTitle= pageTitle;
  - var pageOgpImage= ja.site.ogpImage;
  - var pageOgpType= "article";

block content
