extend /_include/_layout
append variables
  //- 変更可能
  - var pageTitle= "About Page";
  - var pageDescription= 'Site Description';
  - var pageKeywords= 'Site Keyword1, Site Keyword2';
  //- 任意
  - var pageOgpTitle= pageTitle;
  - var pageOgpImage= site.ogpImage;
  - var pageLang= "ja";
  - var pageOgpType= "article";

block content
  p #{pageRootPath}
