extend /_template/_default
append variables
  //- 変更可能
  - var pageTitle= "About Page";
  - var pageDescription= 'About Page Description';
  - var pageKeywords= 'About Page Keyword1, About Page Keyword2';
  //- 任意
  - var pageOgpTitle= pageTitle;
  - var pageOgpImage= site.ogpImage;
  - var pageLang= "ja";
  - var pageOgpType= "article";

//- 個別CSSファイルの読み込み（相対パス）
//- 読み込まれるファイル名、もしくはフォルダ名をCSSのファイル名にします。
//- 例：/about/index.htmlの場合は、index.cssやabout.cssなど。
block append css
  //- link(rel="stylesheet" href="css/index.css")
//- 個別JSファイルの読み込み（相対パス）
//- 読み込まれるファイル名、もしくはフォルダ名をJSのファイル名にします。
//- 例：/about/index.htmlの場合は、index.jsやabout.jsなど。
block append js
  //- script(src="js/index.js")

block content
  p #{pageAbsolutePath}
