ol.sw-ListNoteOrder
  li 注釈です。注釈です。注釈です。注釈です。注釈です。注釈です。注釈です。
  li 注釈です。

div(lang="en")
  ul.sw-ListNoteOrder
    li This is an annotation. This is an annotation. This is an annotation.
    li This is an annotation.

ol.sw-ListNoteOrder(start="2")
  li 注釈です。注釈です。注釈です。注釈です。注釈です。注釈です。注釈です。
  li 注釈です。

div(lang="en")
  ol.sw-ListNoteOrder(start="2")
    li This is an annotation. This is an annotation. This is an annotation.
    li This is an annotation.
