fieldset
  legend.sw-FormLabel ラジオボタン

  input.sw-FormRadio(type="radio" id="radio1" name="radio1" value="0" checked)
  label(for="radio1")
    svg(role="img")
      use(xlink:href="/assets/svg/sprite.svg#radio1")
    span ラジオボタン1

  input.sw-FormRadio(type="radio" id="radio2" name="radio1" value="1")
  label(for="radio2")
    svg(role="img")
      use(xlink:href="/assets/svg/sprite.svg#radio1")
    span ラジオボタン2ラジオボタン2ラジオボタン2
