block variables
include /_mixin/_picture
doctype html
html(lang=pageLang)
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# " + pageOgpType + ": http://ogp.me/ns/" + pageOgpType + "#")
    include /_partial/_meta

  body

    include /_partial/_header

    block content

    include /_partial/_footer
    include /_partial/_script
