p リード文（コンテンツの冒頭に登場するコンテンツを簡潔に表した文章）のスタイルです。
  | 他の文章と区別するためだけに利用し、
  code= `<strong>`
  | の重要性や深刻性、
  code= `<em>`
  | の強調（アクセント）、
  code= `<h2>`
  | のような見出しとしての意味はありません。

p.sw-Lead
  b ◯◯◯は××に優れており、今まで多くのお客さまにご愛用いただいているロングセラー商品です。
p.sw-Text △△の強みを生かした□□を使用しており、発売以来、日々改良を重ねております。
