.l-Wrapper
  nav.st-Breadcrumb(aria-label="現在位置")
    ol.st-Breadcrumb_List
      li.st-Breadcrumb_Item
        a.st-Breadcrumb_Link(href="/") ホーム
      li.st-Breadcrumb_Item
        a.st-Breadcrumb_Link(href="#") カテゴリ名
      li.st-Breadcrumb_Item
        a.st-Breadcrumb_Link(href="/styleguide/category/Navigation/index.html" aria-current="page") ページ名
