p 見出しや画像などを含んだブロック同士の余白を指定します。

.l-Block
  .styleguide-Block
    .styleguide-Block_Left
      img(src="https://placehold.jp/300x200.png" alt)
    .styleguide-Block_Right
      h3 ダミーの見出しです
      p ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。
.l-Block
  .styleguide-Block
    .styleguide-Block_Left
      img(src="https://placehold.jp/300x200.png" alt)
    .styleguide-Block_Right
      h3 ダミーの見出しです
      p ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。
