.l-Block.-divider
  .styleguide-Block
    .styleguide-Block_Left
      img(src="https://placehold.jp/300x200.png" alt)
    .styleguide-Block_Right
      h3 ダミーの見出しです
      p ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。
.l-Block.-divider
  .styleguide-Block
    .styleguide-Block_Left
      img(src="https://placehold.jp/300x200.png" alt)
    .styleguide-Block_Right
      h3 ダミーの見出しです
      p ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。ダミーのテキストです。
