p 注釈用のリストです。米印やアスタリスクが表示されます。

ol.sw-ListNoteOrder
  li 注釈です。注釈です。注釈です。注釈です。注釈です。注釈です。注釈です。
  li 注釈です。

div(lang="en")
  ul.sw-ListNoteOrder
    li This is an annotation. This is an annotation. This is an annotation.
    li This is an annotation.

p リストを2から始める場合はstart属性を
  code= `start="2"`
  | のように指定します。CSSで表示する順序も属性値によって変更されます。

ol.sw-ListNoteOrder(start="2")
  li 注釈です。注釈です。注釈です。注釈です。注釈です。注釈です。注釈です。
  li 注釈です。

div(lang="en")
  ol.sw-ListNoteOrder(start="2")
    li This is an annotation. This is an annotation. This is an annotation.
    li This is an annotation.
