// `transition-timing-function`と`animation-timing-function`プロパティに指定する、
// cubic-bezier() 関数記法で定義した、3次ベジェ曲線のタイミング関数です。
// 実際の動きは、以下のサイトで確認できます。
// https://matthewlein.com/ceaser/
// easeは「ゆっくりと」、inは「始まる」、outは「終わる」に置き換えると想像しやすいです。
// IE9は`cubic-bezier()`に対応していないので、フォールバックを指定してください。

// linear：一定の速度で変化する
$linear: cubic-bezier(0.25, 0.25, 0.75, 0.75) !default;

// ease：開始時から急速に加速して、中盤から緩やかになる
$ease: cubic-bezier(0.25, 0.1, 0.25, 1) !default;

// ease-in：緩やかに始まり、次第に加速し、突然停止する
$ease-in: cubic-bezier(0.42, 0, 1, 1) !default;
$ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53) !default;
$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19) !default;
$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22) !default;
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06) !default;
$ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715) !default;
$ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035) !default;
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335) !default;
$ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045) !default;

// ease-out：急速に始まり、次第に緩やかになっていく
$ease-out: cubic-bezier(0, 0, 0.58, 1) !default;
$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94) !default;
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1) !default;
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1) !default;
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1) !default;
$ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1) !default;
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1) !default;
$ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1) !default;
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275) !default;

// ease-in-out：緩やかに始まり、加速が緩やかになっていく
$ease-in-out: cubic-bezier(0.42, 0, 0.58, 1) !default;
$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955) !default;
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1) !default;
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1) !default;
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1) !default;
$ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95) !default;
$ease-in-out-expo: cubic-bezier(1, 0, 0, 1) !default;
$ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86) !default;
$ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55) !default;
