// ==========================================================================
// 命名規則
// ==========================================================================
// $[element-or-namespace-][property-name][-variant-name][-breakpoint]
// $[element-or-namespace-]: 指定する要素の名前。全体で使う場合は`global-`、カラーパレットは`color-`。
// [property-name]: プロパティ値（省略不可）。プロパティ値で表現できない場合は用途を端的に表した名前。
// [-variant-name]: 状態変化やバリエーションの名前。
// [-breakpoint]: ブレイクポイントのキー。

// ==========================================================================
// Color
// ==========================================================================

// カラーパレット
$color-brand: #be3134 !default;
$color-text: #000 !default;
$color-text-important: #a94442 !default;
$color-link: #2b70ba !default;
$color-link-hover: #2b70ba !default;
$color-background-color: #fff !default;

// ==========================================================================
// Typography
// ==========================================================================

// ベースになるline-height
$global-line-height: 1.8 !default;

// システムフォント
$global-font-family-sans-serif: YakuHanJPs, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif !default;
$global-font-family-serif: "Hiragino Mincho ProN", "HG明朝E", Meiryo, serif !default;
$global-font-family-monospace: Consolas, Menlo, Courier, monospace !default;
$global-font-family-en: "Helvetica Neue", Helvetica, sans-serif !default;
$global-font-family-zh-cn: YakuHanJPs, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", sans-serif !default;
$global-font-family-zh-tw: YakuHanJPs, "Microsoft JhengHei", "微軟正黑體", "PMingLiU" sans-serif !default;

// Noto Sans
// GoogleやMicrosoftのCDNは中国ではブロックされてしまうので、
// フォントファイルをサーバに置いて読み込む必要があります。
$global-font-family-noto-sans-ja: YakuHanJPs, "Noto Sans Japanese", "Hiragino Kaku Gothic ProN",
  Meiryo, sans-serif !default;
$global-font-family-noto-sans-en: "Noto Sans", "Helvetica Neue", Helvetica, sans-serif !default;
$global-font-family-noto-sans-zh-cn: YakuHanJPs, "Noto Sans SC", "Hiragino Sans GB",
  "Microsoft YaHei", "微软雅黑", sans-serif !default;
$global-font-family-noto-sans-zh-tw: YakuHanJPs, "Noto Sans TC", "Microsoft JhengHei", "微軟正黑體",
  "PMingLiU" sans-serif !default;

// ==========================================================================
// Media query
// ==========================================================================

// `sm`: iPhone6幅（ポートレート・縦）
// `md`: iPad幅（ポートレート・縦）
// `lg`: iPad幅（ランドスケープ・横）
// `xl`: デスクトップ想定
$global-breakpoint-up: (
  "sm": "print, screen and (min-width: 375px)",
  "md": "print, screen and (min-width: 768px)",
  "lg": "print, screen and (min-width: 1024px)",
  "xl": "print, screen and (min-width: 1440px)",
) !default;

// ==========================================================================
// Layout
// ==========================================================================

// コンテンツの最大幅
$global-max-width: 1170px !default;

// グリッドシステムのガター幅
$grid-column-gap: 15px !default;
$grid-row-gap: 35px !default;
$grid-column-gap-md: 30px !default;
$grid-row-gap-md: 50px !default;

// コンテナの余白
$conitaner-padding: rem(45) 0 rem(60) !default;
$conitaner-padding-md: rem(70) 0 rem(100) !default;

$conitaner-bg-padding: rem(45) 0 rem(50) !default;
$conitaner-bg-padding-md: rem(70) 0 rem(80) !default;

// セクションの余白
$section2-margin: rem(60) 0 0 !default;
$section2-margin-md: rem(100) 0 0 !default;
$section2-divider-margin: rem(30) 0 0 !default;
$section2-divider-margin-md: rem(50) 0 0 !default;

$section3-margin: rem(50) 0 0 !default;
$section3-margin-md: rem(80) 0 0 !default;
$section3-divider-margin: rem(25) 0 0 !default;
$section3-divider-margin-md: rem(50) 0 0 !default;

$section4-margin: rem(35) 0 0 !default;
$section4-margin-md: rem(50) 0 0 !default;

$section5-margin: rem(30) 0 0 !default;
$section5-margin-md: rem(30) 0 0 !default;

// 見出しの余白
$title-margin: 0 0 rem(25) !default;
$title-margin-md: 0 0 rem(40) !default;

$heading2-margin: 0 0 rem(25) !default;
$heading2-margin-md: 0 0 rem(40) !default;

$heading3-margin: 0 0 rem(25) !default;
$heading3-margin-md: 0 0 rem(40) !default;

$heading4-margin: 0 0 rem(15) !default;
$heading4-margin-md: 0 0 rem(25) !default;

$heading5-margin: 0 0 rem(15) !default;
$heading5-margin-md: 0 0 rem(25) !default;

// ブロックとテキストの余白
$block-margin: rem(40) 0 0 !default;
$block-margin-md: rem(50) 0 0 !default;
$block-divider-margin: rem(20) 0 0 !default;
$block-divider-margin-md: rem(50) 0 0 !default;

$lead-margin: 0 0 rem(35) !default;
$lead-margin-md: 0 0 rem(50) !default;

$text-margin: rem(35) 0 0 !default;
$text-margin-md: rem(50) 0 0 !default;

$small-text-margin: rem(15) 0 0 !default;
$small-text-margin-md: rem(20) 0 0 !default;

$image-margin: rem(25) 0 0 !default;
$image-margin-md: rem(40) 0 0 !default;

// ==========================================================================
// Animation
// ==========================================================================

$global-opacity: 0.7 !default;
$global-transition-duration: 0.3s !default;
$global-transition-timing-function: ease !default;

// ==========================================================================
// Form
// ==========================================================================

$form-border: 1px solid #767676 !default;
$form-boder-color: #767676 !default;
$form-border-radius: rem(3) !default;
$form-transition-duration: 0.3s !default;
$form-transition-property: border-color, box-shadow, background-color !default;
$form-border-color-focus: #1589ee !default;
$form-box-shadow-focus: 0 0 6px 3px #1589ee !default;
$form-placeholder-color: #767676 !default;
$form-cursor-disabled: not-allowed !default;
$form-opacity-disabled: 0.5 !default;
$form-background-color-disabled: #ddd !default;
