extend /_template/ja/_default
append variables
  //- 変更可能
  - var pageTitle= "Article Page";
  - var pageDescription= 'Article Page Description';
  - var pageKeywords= 'Article Page Keyword1, Article Page Keyword2';
  //- 任意
  - var pageOgpTitle= pageTitle;
  - var pageOgpImage= ja.site.ogpImage;
  - var pageOgpType= "article";

block content
  main#main
