.sw-TableWide
  table.sw-Table
    thead
      tr
        th(scope="col") thead Table Header
        th(scope="col") thead Table Header
        th(scope="col") thead Table Header
        th(scope="col") thead Table Header
    tbody
      tr
        th(scope="row") tbody Table Header
        td tbody Table Data
        td tbody Table Data
        td tbody Table Data
      tr
        th(scope="row") tbody Table Header
        td tbody Table Data
        td tbody Table Data
        td tbody Table Data
      tr
        th(scope="row") tbody Table Header
        td tbody Table Data
        td tbody Table Data
        td tbody Table Data
