doctype html
html
  head
    title #{config.name}
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="format-detection" content="telephone=no")
    meta(name="robots" content="noindex, nofollow")
    link(href=root + "aigis_assets/css/highlight/prism.css", rel="stylesheet")
    link(href=root + "aigis_assets/css/theme.css", rel="stylesheet")
    link(href="/assets/css/site.css", rel="stylesheet")
  body
    .aigis-container
      include ./sidemenu
      .aigis-contents
        .aigis-contents__body
          include ./components

    script(src='//code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script window.jQuery || document.write('<script src="/assets/js/jquery.min.js"><\/script>')
    script(src='//code.jquery.com/jquery-migrate-3.0.0.min.js', integrity='sha256-JklDYODbg0X+8sPiKkcFURb5z7RvlNMIaE3RA2z97vw=', crossorigin='anonymous')
    script window.jQuery || document.write('<script src="/assets/js/jquery-migrate.min.js"><\/script>')
    script(src="/assets/js/lib.js")
    script(src="/assets/js/site.js")
