doctype html
html.no-js(lang="ja")
  head
    title #{config.name}
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="format-detection" content="telephone=no")
    meta(name="robots" content="noindex, nofollow")
    link(href=root + "aigis_assets/css/highlight/prism.css", rel="stylesheet")
    link(href=root + "aigis_assets/css/theme.css", rel="stylesheet")
    link(href="/assets/css/site.css", rel="stylesheet")
    script.
      document.documentElement.classList.remove('no-js')
  body
    main
      .aigis-container
        include ./sidemenu
        .aigis-contents
          .aigis-contents__body
            include ./components

    script(src="/assets/js/site.js")
